[2020-10-02 14:01] Cornul11 opened #1 "TypeError when searching for metadata"
When searching for metadata, I got the following error:

[+] 1 device found !
Traceback (most recent call last):
  File "hunt.py", line 114, in <module>
    gpics(gaiaID, client, cfg)
  File "/home/dan/GHunt/lib/photos.py", line 42, in gpics
    exifeater.output()
  File "/home/dan/GHunt/lib/metadata.py", line 114, in output
    dates = print_dates(data["History"]["Valid"])
  File "/home/dan/GHunt

[2020-10-02 14:08] mxrch commented on #1
Hello, Google Photos should not work anymore since a few days, so metadata neither.
Can I have the email you are trying to use to debug ?
Here or in private on Discord : mxrch#8507

[2020-10-02 16:46] GosulaShivaKumar opened #2 "chrome crashed error __init__"
I used sandboxed version of chrome & no sandbox version also.
when i tried this on Kali Linux 2020.3 i found the error mentioned below
 The cookies seems valid ! Generating the Google Docs and Hangouts token...

Google Docs Token => some-token-was-here:some-random-number
Traceback (most recent call last):
  File "check_and_gen.py", line 74, in <module>
    driver = webdriver.Chrome(executable_path

[2020-10-02 16:53] mxrch commented on #2
Hello, I think this isn't related to GHunt directly but with Chromedriver.
Try to download the same version of chromedriver than the Google Chrome installed version.

[2020-10-02 16:56] GosulaShivaKumar commented on #2
Thank you!!

[2020-10-02 16:58] #2 closed

[2020-10-02 18:55] KrishSai1997 opened #3 "Type Error after generating the Google Docs Token"
┌─[✗]─[XYZ@parrot]─[/opt/GHunt]
└──╼ $python3 check_and_gen.py
__Secure-3PSID => REDACTED
APISID => REDACTED
SAPISID => REDACTED
HSID => REDACTED

[+] The cookies seems valid ! Generating the Google Docs and Hangouts token...

Google Docs Token => REDACTED
Traceback (most recent call last):
  File "check_and_gen.py", line 74, in <module>
    driver = webdriver.Chrome(executable_path=driverpath, se

[2020-10-02 20:46] yazarneon opened #4 "cannot open shared object file: No such file or directory"
I installed reqs. but when I run "python3 hunt.py mymail@gmail.com" I got below error.

python3: error while loading shared libraries: libpython3.7m.so.1.0: cannot open shared object file: No such file or directory

[2020-10-02 20:49] mxrch commented on #4
Hello, I don't think it's related to GHunt but a missing library with your installation of Python, maybe try to reinstall Python 3.

[2020-10-02 21:08] Collin-St commented on #3
I had this issue. For me, it was related to line 74:
[code]
I don't know what function the author intended to call here, but it doesn't exist. I replaced it with a hardcoded path:
[code]

Depending on which OS you're on, you might also run into a permissions error after you fix that.

[2020-10-02 21:13] mxrch commented on #3
@KrishSai1997 @Collin-St can I know from which folder you are launching the script ?
You must be in the ghunt folder, because it searches the chromedriver with a relativepath, so from where you are located.

About the get_driverpath function, it is in the lib/utils.py file, and I import it at the beggining of check_and_gen.py, so I think you are not well located when running the scripts.

[2020-10-02 21:19] Collin-St commented on #3
@mxrch
I'm working in the correct directory structure. But now I see the real issue:

in `lib/utils.py` ln 37, `driverpath = "chromedriver"` should be `driverpath = "./chromedriver"`

This solved the problem for me as well without hardcoding the driver path in `check_and_gen.py`. I assume you developed this on a Windows machine, so you didn't run into this issue.

[2020-10-02 21:21] mxrch commented on #3
Ok thank you, I'll test this edit on Windows right now and push a fix if it's okay. 😊

[2020-10-02 21:28] mxrch commented on #3
https://github.com/mxrch/GHunt/commit/d2c77ffb634edff680a3e345814c45ef6a164042

This should be good now.

[2020-10-02 21:45] #3 closed

[2020-10-03 10:35] vallas opened #5 "Replace "open the Developer pop-up" with Dev tools window"
Section cookies _https://github.com/mxrch/GHunt#ok-but-where-i-find-these-4-cookies-_

[2020-10-03 10:37] mxrch commented on #5
Thank you I forgot the name when I did the Readme 😄 fixing it today !

[2020-10-03 11:01] #5 closed

[2020-10-03 11:02] #4 closed

[2020-10-03 11:21] vallas opened #6 "Forgot to install the Chrome driver, had to retype all the cookies values"

[2020-10-03 11:24] mxrch commented on #6
Yeah maybe I'll do a thing for this but it's not my priority right now.

[2020-10-03 12:00] outime opened #7 "Dockerize"
I'll submit a PR soon so that a Docker image can be built easily and you can then decide if you want to merge it, build a GitHub action to automatically build it and upload it to Docker Hub, etc so it gets much easier to setup and use.

[2020-10-03 12:07] mxrch commented on #7
Thank you, appreciate it !
Not all heroes wear capes 🦸

[2020-10-03 15:34] mahdi1234 opened #9 "Better message for expired cookies in hunt mode"
[code]

I think it would be better to says something more explicit than "Invalid Gmail address."

[2020-10-03 15:52] mahdi1234 opened #10 "Error while retrieving photos in wait.until(element_has_substring_or_substring((By.XPATH, "//body")"
With b1a2a56ba9d15d0990fc6d4256493d6f2777c555

[code]

[2020-10-03 15:55] mxrch commented on #10
I'll fix it but I want to know, how is your internet connection ? Good or not ? How much mo/s ? Because I think 30 seconds timeout is amply sufficient..

[2020-10-03 16:14] mahdi1234 commented on #10
@mxrch I have 100mbit cable, no issue with internet, set timeout to 300s and still fails, could it be due to large photo gallery?

Data are incoming on 400KiB/s only.

![Uploading bmon.png…]()

[2020-10-03 16:24] KrishSai1997 opened #11 "Chrome failed to start: exited abnormally. Initiating a Pull Request for this Issue."
### The Script needs to be run as root on Linux Operating Systems. But Chrome has Issues running as Root. So I tried to fix this issue by adding the Line:
**chrome_options.add_argument('--no-sandbox')** At Line number:67 in check_and_gen.py
This is my First Pull request. So please don't mind if I did any Mistake.

┌─[✗]─[sai@parrot]─[/opt/GHunt]
└──╼ $sudo python3 check_and_gen.py
__Secure-3PSID =

[2020-10-03 16:26] mxrch commented on #10
@mahdi1234 no it can't be that, if you have albums it will break the wait.
Either it doesn't click well on the "back" button, either it loads another language than english. Otherwise, I don't know..
Can you add these lines :
[code]
between these two lines at line 63 in lib/photos.py :
[code]

And upload the debug.html file somewhere & give the link or put it in a pastebin ?

[2020-10-03 16:35] mahdi1234 commented on #10
@mxrch here's the link https://upload.disroot.org/r/oz6AvU81#ZSCE6ceIJOCSkzi5Ad+LvFKj0m2uBTO/70YcSvCGglQ= will get self destruct on first download.

[2020-10-03 16:43] mahdi1234 commented on #11
Hmm I run it as normal user, no issues, why you think it has to be root?

[2020-10-03 16:54] panagiac opened #13 "Stuck on "Got the albums overview !""
`Traceback (most recent call last):
  File "hunt.py", line 114, in <module>
    gpics(gaiaID, client, cookies, cfg)
  File "___\photos.py", line 97, in gpics
    out = get_source(gaiaID, client, cookies, cfg)
  File "___\lib\photos.py", line 82, in get_source
    result = wait.until(element_has_substring_or_substring((By.XPATH, "//body"), photos_trigger, no_photos_trigger))
  File "___\wait.py", l

[2020-10-03 17:00] mxrch commented on #13
Hello @panagiac , it's a duplicate of the issue https://github.com/mxrch/GHunt/issues/10
I invite you to come on it and do the same thing I asked for the other person, to get a debug.html.
I close this issue to keep issues clean !

[2020-10-03 17:01] #13 closed

[2020-10-03 17:22] KrishSai1997 commented on #11
**If I run this as a normal user, I get the following Error.**

Traceback (most recent call last):
File "check_and_gen.py", line 74, in
driver = webdriver.Chrome(executable_path=driverpath, seleniumwire_options=options, options=chrome_options)
File "/usr/local/lib/python3.8/dist-packages/seleniumwire/webdriver/browser.py", line 86, in init
super().init(*args, **kwargs)
TypeError: init() got an une

[2020-10-03 17:27] mxrch commented on #11
@KrishSai1997  Hmm did you install the packages as root ?
If not, try to reinstall them with pip and the option "-U" (I think it's that)

[2020-10-03 17:40] KrishSai1997 commented on #11
Ok After upgrading, The Issue was resolved. But If I keep GHunt in my **/opt** Directory, It has permissions Issue writing Files like **data.txt (Created when running the check_and_gen.py) & tmp.html (Created while running the hunt.py)**

Copied the GHunt Folder to my Desktop and it does not have Issues with the Permission.

[2020-10-03 17:44] mxrch commented on #11
Okay, cool !
Yes, the /opt directory is reserved to root users, so it's normal and nothing related to GHunt.
I will still review your --no-sandbox edit to avoid future errors if someones runs it as root, I just need to test it on Windows.

[2020-10-03 17:48] KrishSai1997 commented on #11
Ok Thanks. :)

[2020-10-03 20:40] yazarneon opened #16 "Chrome Start Error"
Hi,

I got this error when I fill all cookies in check_and_gen.py

How I can fix this?

[+] The cookies seems valid ! Generating the Google Docs and Hangouts token...

Google Docs Token => MyToken:1111111111111
Traceback (most recent call last):
  File "check_and_gen.py", line 74, in <module>
    driver = webdriver.Chrome(executable_path=driverpath, seleniumwire_options=options, options=chrome_opt

[2020-10-03 21:07] PinkDev1 commented on #16
Tell us version info.
Wich chrome, webdriver, python version, and OS

[2020-10-03 21:36] PinkDev1 commented on #10
Same error here.
Python: 3.8.5
Chrome: Version 83.0.4103.116 (Developer Build) built on Debian bullseye/sid, running on Debian kali-rolling (64-bit)
GHunt version: Latest (ea00a24)

The only difference is mine says the error happened on **line 86**, but it's probably bc of the latest commits:
[code]

It only happens on target accounts on wich I get the `Got the albums overview !` message.

[2020-10-03 21:38] mxrch commented on #16
Thank you @PinkDev1 to help me with the issues / pull requests, appreciate it !
@yazarneon  You are not the only person to have this error but it's related to Chromedriver, see this issue : https://github.com/mxrch/GHunt/issues/2
I label this issue as duplicate but not closing it now, maybe you'll find a fix through the StackOverflow topics !

[2020-10-03 21:42] #16 closed

[2020-10-03 21:52] mxrch commented on #10
I don't understand since in your debug.html @mahdi1234 you have one of the two "triggers" to detect if the page finished loading, on your file there is the string "reached the end" in the body, so it should not wait.
But I have an hypothesis, maybe the `EC.text_to_be_present_in_element` requires the element to not have the text in the element at the moment where this code is executed.
I left this

[2020-10-03 22:10] mxrch commented on #10
@PinkDev1 @mahdi1234 I pushed a potential fix in the i10 branch (https://github.com/mxrch/GHunt/commit/35173d0b1dfcac3c1ae307789a6e617c599c08ef) can you checkout on it and tell me if it fixes the issue ?

[2020-10-03 22:31] PinkDev1 commented on #10
Welp, it doesn't crash anymore, so I guess it's a fix!
[code]

I've noted that you can view the albumarchive, but only when logged in with the target account. From any other account, it'll just throw a 404. Consider adding a disclaimer for this, since even while having the target account's password this tool can provide plenty of automated insight.

I'd also like to note that the cookies didn't ch

[2020-10-03 22:40] mxrch commented on #10
@PinkDev1 yes it happens sometimes, it's not happening with my emails list, but Sector035 had the same problem with his account.
I don't think it's an RNG or something to do with the logged account, but with a confidentiality setting you have set, or something else obscure..
I'll add a disclaimer about it ! Unfortunately we have to deal with it while we use this bypass, but at least it works with

[2020-10-03 22:42] mxrch commented on #10
Don't hesitate to contact me on Twitter with your address email you are using GHunt with, I think I can't debug it but we never know

[2020-10-03 22:52] PinkDev1 commented on #10
That may be the case. I've tweaked a lot with the settings of my google accounts

[2020-10-03 22:55] PinkDev1 commented on #10
Update on this: It only happens when visiting the link directly, on a browser while logged-in with the target account. But on GHunt, even when authenticated with the target's google cookies, it says `Couldn't fetch the public photos.` ... I'll need to do further testing

[2020-10-03 22:56] adik69 commented on #10
I just ran the tool and I'm getting the same crash .

[2020-10-03 22:58] PinkDev1 commented on #10
Well that's weird. Are you sure you downloaded the correct branch?
If unsure, delete your current GHunt and redownload with `git clone -b i10 https://github.com/mxrch/GHunt.git GHunt-i10`

[2020-10-03 22:59] mxrch commented on #10
@PinkDev1 I already merged the fix with the master branch !

[2020-10-03 23:00] mxrch commented on #10
@adik69 can you show me the output ?

[2020-10-03 23:02] mxrch commented on #10
@PinkDev1 Can I have the Google ID you are trying with ?

[2020-10-03 23:47] PinkDev1 commented on #10
UPDATE: I think I found the culprit:

On account A I have tweaked my settings to harden my google account as much as possible. This account has almost all personalization disabled, and uses very few google services.
When I visited account A's `albumarchive` on the browser, while signed in as account A, I was able to see it's photo album, but not any option to share it with anyone (more on this lat

[2020-10-04 00:00] Em-r0X commented on #11
I had the same issue , to fix this I added this < chrome_options.add_argument("--no-sandbox")  >
whenever chrome is being initiated ( check_and_gen.py , gmaps.py )
I'm on Kali
https://stackoverflow.com/questions/50642308/webdriverexception-unknown-error-devtoolsactiveport-file-doesnt-exist-while-t

[2020-10-04 00:28] mxrch commented on #11
I pushed the fix of @KrishSai1997  in the commit https://github.com/mxrch/GHunt/commit/ae4d8edae33b67579152b665e1a2814906b0b43b, I'm closing this issue if it's okay :)

[2020-10-04 00:28] #11 closed

[2020-10-04 01:01] mxrch commented on #9
I changed it to `[-] This email address does not belong to a Google Account.`

[2020-10-04 01:01] #9 closed

[2020-10-04 01:10] mxrch commented on #6
Finally it was just a minor change https://github.com/mxrch/GHunt/commit/319c65ea7a22b2382cc0f7a151f45c94c56c97d9 :)

[2020-10-04 01:10] #6 closed

[2020-10-04 02:36] akari-dogman opened #21 "KeyError "village" in metadata stage of looking through Google Photos"
During the search of metadata in Google Photos, the program will throw up a KeyError saying it can't find "village."

[code]

Poking through the code, I had it print out what the location was for the photos:

debug: {'amenity': '<place name>', 'road': '<road name>', 'city': 'Las Vegas', 'county': 'Clark County', 'state': 'Nevada', 'postcode': '<5 digit post code>', 'country': 'United States of Ame

[2020-10-04 08:13] mahdi1234 commented on #10
@mxrch I confirm it fixed the issue on two accounts I had it.

[2020-10-04 09:04] Sajjad-s opened #22 "Httpx Error on Debian10"
after running this ` pip install httpx` on Debian 10 (Buster) this error shown :
`Collecting httpx[http2]
  Could not find a version that satisfies the requirement httpx[http2] (from versions: )
No matching distribution found for httpx[http2]
`

[2020-10-04 09:55] Droid- commented on #22
Also seeing this. Debian GNU/Linux 10

[2020-10-04 10:12] YaellH opened #23 "Google Hint Idea"

[2020-10-04 10:23] zeckroot opened #24 "Problems when i run check_and_gen.py"
Traceback (most recent call last):
  File "check_and_gen.py", line 74, in <module>
    driver = webdriver.Chrome(executable_path=driverpath, seleniumwire_options=options, options=chrome_options)
  File "/usr/local/lib/python3.8/dist-packages/seleniumwire/webdriver/browser.py", line 86, in __init__
    super().__init__(*args, **kwargs)
  File "/usr/lib/python3/dist-packages/selenium/webdriver/chrom

[2020-10-04 10:35] tddschn opened #25 "Have to go to GHunt directory to run hunt.py or check_and_gen.py"
I set up `GHunt` by cloning this repo, copying `chromedriver` to `GHunt` directory and generating a working `data.txt`. After that, I made 2 aliases:

[code]
but these aliases won't work unless I call them in the `GHunt` directory, otherwise Ghunt would complain about missing chromedriver or cookies.

Maybe it would be a good idea if Ghunt can fallback to use config in a dedicated config dir like

[2020-10-04 12:01] gautamkrishnar commented on #25
You can also do:

[code]

[2020-10-04 14:12] ryzbaka opened #26 "KeyError In program"
[code]

[2020-10-04 14:12] ryzbaka commented on #26
I can try fixing this issue myself.

[2020-10-04 14:14] ntallman commented on #22
Try using python3 everywhere the documentation says python. `python3 -m pip install -r requirements.txt`, `python3 .\check_and_gen.py`,  `python3 hunt.py myemail@gmail.com`.

[2020-10-04 18:36] theextremecoder opened #27 "Version not supported"
Hey,
I'm on Windows 10
When I try to execute the command "python hunt.py myemail@gmail.com" on CMD, it doesn't give any output.
So I tried to execute hunt.py. It gives :
`C:\Users\*****\AppData\Local\Programs\Python\Python38\lib\site-packages\requests\__init__.py:89: RequestsDependencyWarning: urllib3 (1.25.10) or chardet (3.0.4) doesn't match a supported version!
  warnings.warn("urllib3 ({}) or

[2020-10-04 18:50] mxrch commented on #21
Thank you for reporting this bug, I forgot to sanitize the location in the metadata module !
I'm pushing a fix right now.

[2020-10-04 18:52] mxrch commented on #21
The fix is pushed ! https://github.com/mxrch/GHunt/commit/e2207159c6fe16ef1327a00fda5224dc655ffb66
I'm closing the issue.

[2020-10-04 18:52] #21 closed

[2020-10-04 18:58] mxrch commented on #22
Thank you @ntallman.
I don't know why this happens because I already installed `httpx` many times on my Parrot VM with Debian 10 without issues, so just follow what @ntallman says and you'll should be good.
I'm closing this issue since this is not related to GHunt but (surely) a misconfiguration during your installation, but feel free to reopening it if someone has this issue even when following w

[2020-10-04 18:58] #22 closed

[2020-10-04 18:59] mxrch commented on #23
?

[2020-10-04 19:07] mxrch commented on #24
Hello, it's a known Chromedriver bug, but it's a duplicate, see this => https://github.com/mxrch/GHunt/issues/2.
Since this isn't directly related to GHunt I'm closing this issue, but feel free to reopening it if this solution hasn't worked and you found another one !

[2020-10-04 19:07] #24 closed

[2020-10-04 19:20] mxrch commented on #26
Hello @ryzbaka , I can fix this issue but I'm curious, can you print the location before the "sanatize_location" line ? Because it means there is not the keys "city", "village", "town" AND "municipality", I thought it would be enough !

[2020-10-04 19:25] mxrch commented on #27
Hello @theextremecoder , it seems to be related to the `requests` module.
Can you try this : `pip install --upgrade requests` and tell me if it fixes the error ?
You'll need to adapt the command depending on how you installed the requirements, like adding `sudo` at the beginning or `--user` at the end.

Reference : https://github.com/streamlink/streamlink/issues/2448

[2020-10-04 19:51] Sajjad-s commented on #22
@ntallman Thank you the error got fixed.

[2020-10-04 19:52] Sajjad-s commented on #22
@ntallman Thank you the error got fixed.

[2020-10-04 20:37] streger commented on #26
Same here with village:

Traceback (most recent call last):
  File "hunt.py", line 114, in <module>
    gpics(gaiaID, client, cookies, cfg)
  File "/someplace/GHunt/lib/photos.py", line 134, in gpics
    exifeater.feed(img)
  File "/someplace/GHunt/lib/metadata.py", line 57, in feed
    location = self.get_GPS(img)
  File "/someplace/GHunt/lib/metadata.py", line 51, in get_GPS
    return f'{locati

[2020-10-04 20:38] mxrch commented on #26
@streger can you print the location before the "sanatize_location" line and put the output here ? :)

[2020-10-04 21:08] streger commented on #26
@mxrch can you guide me where would I find that?
I seem to can't find it anywhere in the repo.

[2020-10-04 21:11] streger commented on #26
and if you mean the line before this happened, it's:
[code]

using:
Python 3.8.2

[2020-10-04 21:17] mxrch commented on #26
@streger  excuse me I confused your problem with the author's one, it's not the same, but effectively I understand the problem, I fix it right now.

[2020-10-04 21:17] mxrch commented on #26
@streger fixed => https://github.com/mxrch/GHunt/commit/d927c94508c31722c4b42d48fdc2987137a5b3b8

[2020-10-04 21:30] streger commented on #26
@mxrch Can confirm that this now passed, but failed further down the execution with:

[code]

If you want I can open new ticket for this?

[2020-10-04 21:57] mxrch commented on #26
@streger seems like you have the same error of https://github.com/mxrch/GHunt/issues/1, can you please move to this issue so we keep issues clean ? 😄

[2020-10-04 22:01] streger commented on #1
Moved from #26 by the repo maintainer response.

This happened also:
[code]

[2020-10-04 22:04] mxrch commented on #1
Thank you @streger I'm taking a look right now.
Would you contact me the email you are trying with ? Not necessary but if it's not a problem for you it'll help the debug.

[2020-10-04 22:09] mxrch commented on #1
Apart if it's your own account and these Google photos pictures are private, it wouldn't help 😄

[2020-10-04 22:12] streger commented on #1
@mxrch Yup, it's my private account and photos are private. First trying this on my own :)

[2020-10-04 23:33] mxrch commented on #1
Thank you for helping debugging @streger ! This is issue is now fixed in the commit https://github.com/mxrch/GHunt/commit/d7c87d7085d67273799f44c85272cbdece5a9904, I'm closing it.

[2020-10-04 23:33] #1 closed

[2020-10-05 01:36] mxrch commented on #26
Issue fixed in => https://github.com/mxrch/GHunt/commit/8fd45a1071b48d6d62c85d84285e22e20c41c247, I'm closing this issue.

[2020-10-05 01:36] #26 closed

[2020-10-05 02:59] tddschn commented on #25
@gautamkrishnar Thanks but I think I'd use a function so I can pass email arguments to hunt.py.

[2020-10-05 04:28] wagnandreas opened #30 "KeyError: 'twoColumnSearchResultsRenderer'"
On calling `python3 hunt.py info@stadtmarketing-traunstein.de` :
[code]

[2020-10-05 07:18] blackcatpro777 opened #31 "This email address does not belong to a Google Account."
Hi, only first time it worked. from second time, it always throws "This email address does not belong to a Google Account."

[2020-10-05 08:33] tpetry opened #33 "Chromedriver unexpectedly exited"
* Python: 3.6
* Chrome Driver: 86.0.4240.22

[code]

[2020-10-05 08:40] Bapt5 opened #34 "Unsupported Protocol"
![image](https://user-images.githubusercontent.com/63651713/95057770-e514d000-06f6-11eb-989f-5a1f90d7ecbb.png)
When I execute the file check_and_gen.py and I put the cookies values I have this error.

[2020-10-05 08:50] tpetry commented on #7
Github has now a free container registry which a github action could push to. So source and docker would be on the same platform ;)

[2020-10-05 10:15] Franc-ctrl opened #35 "list index out of range"
Got this one:

Traceback (most recent call last):
  File "hunt.py", line 97, in <module>
    data = ytb.get_channels(client, name, cfg)
  File "/home/osint/GHunt/lib/youtube.py", line 64, in get_channels
    from_youtube = youtube_channel_search(client, query)
  File "/home/osint/GHunt/lib/youtube.py", line 15, in youtube_channel_search
    data = json.loads(source.split('window["ytInitialData"] =

[2020-10-05 10:16] Franc-ctrl commented on #35
and also:

Traceback (most recent call last):
  File "hunt.py", line 101, in <module>
    confidence, channels = ytb.get_confidence(data, name, hash)
TypeError: cannot unpack non-iterable NoneType object

[2020-10-05 11:07] mxrch commented on #31
Hello @blackcatpro777 , can I have more information ? Like the email you are trying with ?
What you are descripting seems impossible, that an email is marked as valid and sometimes not.

[2020-10-05 11:09] mxrch commented on #33
Hello @tpetry , crashes can happens, but this type of crash usually do not reappear when you retry. Is this crash permanent ?

[2020-10-05 11:10] mxrch commented on #34
Hello, @Bapt5  is this crash permanent ?

[2020-10-05 11:12] mxrch commented on #35
Hello @Franc-ctrl , thanks for reporting this, I'll take a look.
It is not required but if you can send me the email you are trying with it would help the debug, I understand if you won't.

[2020-10-05 11:17] Bapt5 commented on #34
Yes I've try 10 time and it doesn't work every time

[2020-10-05 11:22] mxrch commented on #34
@Bapt5  are you using a proxy or VPN ?

[2020-10-05 11:24] blackcatpro777 commented on #31
The email is valid, it worked first time. When I tried the same email address second time, it throws "This email address does not belong to a Google Account." and no other emails are working now.

[2020-10-05 11:45] Bapt5 commented on #34
@mxrch Ok Thank you. You have right it was the proxy. But now I've this error. I think that it's about utf-8. But I don't understand why?
<img width="618" alt="Capture" src="https://user-images.githubusercontent.com/63651713/95075694-efdc5e80-0710-11eb-9129-d17bc31c19e9.PNG">

[2020-10-05 11:48] mxrch commented on #34
@Bapt5 can you create a new issue for that ? 😄

[2020-10-05 11:49] QuentinReyn commented on #34
@mxrch same issue as https://github.com/mxrch/GHunt/issues/33

[2020-10-05 11:51] Bapt5 commented on #33
@mxrch Yes this carsh is premanent

[2020-10-05 11:51] mxrch commented on #34
@QuentinReyn so please go at this issue, since this issue as nothing to do with.
I'll also ask you to answer the same question I asked to tpetry in #33 .

[2020-10-05 11:51] #34 closed

[2020-10-05 11:52] mxrch commented on #33
@Bapt5 you are having a utf-8 error, no ? Can you create a new issue for that ?

[2020-10-05 11:54] Bapt5 commented on #33
@mxrch Oh yes excuse me But I thought that it's the same because @QuentinReyn has mentioned this issue in my issue.

[2020-10-05 11:55] mxrch commented on #33
@Bapt5 no problem, I don't know why he did that..

[2020-10-05 11:57] Bapt5 opened #38 "UnicodeDecodeError UTF-8"
When I put the cookies I get the Google Docs Token but then there is an error.
<img width="618" alt="Capture" src="https://user-images.githubusercontent.com/63651713/95076781-b147a380-0712-11eb-9ddf-cd09d6453333.PNG">

[2020-10-05 12:13] mrhidden13 opened #39 "The chromedriver is missing WSL"
![Screenshot_13](https://user-images.githubusercontent.com/32459493/95078107-cdf9d080-073e-11eb-9e2a-c8b63b976aba.png)

[2020-10-05 12:28] leon-th commented on #39
If you are running linux you'll need the linux binary.

[2020-10-05 12:56] l4zy0n3 commented on #31
printing the response gave out
`
{'error': {'code': 401, 'message': 'Request had invalid authentication credentials. Expected OAuth 2 access token, login cookie or other valid authentication credential. See https://developers.google.com/identity/sign-in/web/devconsole-project.', 'status': 'UNAUTHENTICATED'}} [-] This email address does not belong to a Google Account.
`
Regenerating the cookies wor

[2020-10-05 13:00] l4zy0n3 commented on #31
PS : I was logged into multiple accounts on the first try
Logged out of all accounts and logged back into one specific account
Then regenerated the cookies

[2020-10-05 14:56] Bobbbay commented on #23
@YaellH it would be nice to have a description of what you mean :)

[2020-10-05 14:57] #23 closed

[2020-10-05 15:29] PinkDev1 commented on #35
Correct me if I'm wrong, but I think this is exactly what oxadam is trying to fix on PR #32

[2020-10-05 15:31] PinkDev1 commented on #31
Seems like a K20 issue. @mxrch just close this

[2020-10-05 15:45] mxrch commented on #31
@blackcatpro777 please register your cookies again and retry.

[2020-10-05 15:45] #31 closed

[2020-10-05 15:51] PinkDev1 commented on #39
Prob the same case on WLS. Delete that chromedriver.exe and download the linux one

[2020-10-05 15:56] mrhidden13 commented on #39
I'm use ubuntu 18.04

[2020-10-05 16:03] PinkDev1 commented on #39
Then why even mention WSL??

yet another [1D-10T error](https://en.m.wikipedia.org/wiki/User_error). Just close this issue

[2020-10-05 16:04] mxrch commented on #30
@PinkDev1 nope 😄 it works too if someone created his Google Accounts with the email from another provider

[2020-10-05 16:04] mxrch commented on #30
I'm looking at this

[2020-10-05 16:05] wagnandreas commented on #30
it's a GSuit account i think

[2020-10-05 16:07] mxrch commented on #39
I think he wants to say Ubuntu 18.04 under WSL.
@mrhidden13 what happens if you put the linux binary of chromedriver instead ?

[2020-10-05 16:09] mxrch commented on #38
Hello @Bapt5 , have you modified the script to include a proxy ?

[2020-10-05 16:25] mxrch commented on #30
Yeah this is an interesting catch, this account doesn't even have a name.

[2020-10-05 16:30] mxrch commented on #30
![image](https://user-images.githubusercontent.com/17338428/95106470-d9e29400-0738-11eb-933d-4d1a1d7be858.png)

[2020-10-05 16:39] mxrch commented on #30
Error fixed in https://github.com/mxrch/GHunt/commit/ddd2ccd2d62cdfb3fcddd08c7b1136a9f715bf60, I'm closing this issue.

[2020-10-05 16:39] #30 closed

[2020-10-05 17:25] vijay399 opened #41 "How to use with php ?"
It is working Charm with Python Command on terminal but how to use it with php I tried with Execute Commands but it didn't work. Please Help me to install with webpage

[2020-10-05 18:08] mxrch commented on #41
![image](https://user-images.githubusercontent.com/17338428/95115839-647dc000-0746-11eb-9343-02764f4ebc11.png)

PHP is not intended to work with Python.

[2020-10-05 18:08] #41 closed

[2020-10-05 19:18] Bapt5 commented on #38
Hi @mxrch No I've just change my connection to make that there is no proxy

[2020-10-05 19:28] #7 closed

[2020-10-05 19:36] outime opened #42 "General reformatting"
Code could use a more standard way of arranging imports, spacing and other general stuff. I'll propose something in a PR.

[2020-10-05 19:42] Suleman-Elahi commented on #41
You can setup this on the server and run it with PHP's `shell_exec` and then parse the output.

[2020-10-05 20:35] #42 closed

[2020-10-05 20:56] belveruski opened #44 "PermissionError: [Errno 13] Permission denied: 'resources/data.txt'"
After this command `sudo docker run -v $(pwd)/resources:/usr/src/app/resources -ti ghunt check_and_gen.py` i got this error:

[code]

[2020-10-05 21:02] mxrch commented on #44
@outime can you take a look at this ?

[2020-10-05 22:12] 0xadam commented on #44
I get the same issue with the current master. My guess would be it's because the docker container is running as the "app" user, while the resources folders will be owned by whoever cloned it and have 755 permissions, meaning the container isn't able to write the data.txt there.

[2020-10-05 22:17] mxrch commented on #35
@Franc-ctrl I pushed a fix for another issue but I think it will solve your issue too, can you confirm ? https://github.com/mxrch/GHunt/commit/910bcb2033dce5a78c76af8ae9c7cfbed46f1a9f

[2020-10-06 05:13] vijay399 commented on #41
Using this line getting Blank Output

[2020-10-06 06:41] rexdivakar commented on #38
I can fix it @mxrch  shall I ??

[2020-10-06 06:52] mxrch commented on #38
Hello, yes you can do a pull request !

[2020-10-06 06:53] outime commented on #44
I can provide a patch in the evening.

ti 6. lokak. 2020 klo 1.12 0xadam <notifications@github.com> kirjoitti:

[2020-10-06 06:56] 0xadam commented on #44
Take a look at https://github.com/mxrch/GHunt/pull/46 as I think that should fix it.

[2020-10-06 07:00] outime commented on #44
@0xadam it'd be nice to provide a way for Windows users as well. The README was already falling short because it used `pwd` so it's perhaps a good moment to provide a better example.

[2020-10-06 07:18] 0xadam commented on #44
Ahh I see. Looks like under Windows the SMB protocol is used for volume mounts so permissions issues like this may not be a problem. But if they are I'm not how much can be done to easily fix them. Hopefully there is a way to get things working under it... Maybe the patch above but without passing the extra build args on Windows?

[2020-10-06 07:18] Suleman-Elahi commented on #41
Looks like you are noob, so I am sorry I can't help further.

[2020-10-06 07:36] mmsouto81 opened #49 "Problem when load coockies."
Hi, I have a problem loading cookies. I run check_and_gen.py and when it asks for each of the cookies I paste them without the quotes and when I enter the last one it gives me these errors.

========================================================
Traceback (most recent call last):
  File "C: \ Python \ lib \ site-packages \ httpx \ _exceptions.py", line 339, in map_exceptions
    yield
  File "C:

[2020-10-06 07:55] baimard commented on #44
I have solved that problem by

`docker run -v $(pwd)/resources:/usr/src/app/resources -u root -ti ghunt check_and_gen.py`

[2020-10-06 08:26] Derpyhsi opened #50 "Requires account to have atleast blocked one person"
I noticed on making a new Google Account. It does not get the /v2/people/me/blockedPeople request unless you have blocked one person.

[2020-10-06 08:27] #50 closed

[2020-10-06 10:56] Cornul11 commented on #25
Have you tried adding chromedriver to the PATH?

[2020-10-06 11:25] tddschn commented on #25
@Cornul11 Yes. I am on macOS Catalina and have installed chromedriver with `brew cask install chromedriver`.

![image](https://user-images.githubusercontent.com/45612704/95195839-ade31380-0809-11eb-9258-1543ab82a5a8.png)

[2020-10-06 13:35] Bapt5 commented on #38
@rexdivakar Do you made the pull request ??

[2020-10-06 15:25] Code12c opened #53 "GHunt"

[2020-10-06 15:26] #53 closed

[2020-10-06 18:42] Aorka053 opened #54 "requirements"
error while preparing wheel metadata

[2020-10-06 19:55] PinkDev1 commented on #54
Post the full error message, the command you ran, and your python version; Otherwise we can't help you

[2020-10-06 19:56] PinkDev1 commented on #10
Well, this issue was fixed on 35173d0, and I've already opened a PR to add a Disclaimer to the README.
@mxrch this issue can finally be closed :)

[2020-10-06 20:42] Derpyhsi opened #56 "Timed out"
[code]

[2020-10-07 04:05] xingyeaha commented on #54
yes

[2020-10-07 04:07] JuliaCao opened #58 "Version for 'google-chrome-stable' was not found"
I got this error when running docker build, had to manually update it to the latest google chrome version in Dockerfile for it to work.

[2020-10-07 04:18] sheddup commented on #6
give the option to load cookies from a file

[2020-10-07 05:10] mandadimuralidharreddy commented on #58
change chrome version in docker to below
**ENV CHROME_VERSION 86.0.4240.75-1**

[2020-10-07 05:14] JuliaCao commented on #58
I did.

My point is this was not mentioned in README. We might want to consider adding it or find a better way to automate?

[2020-10-07 05:53] presmedia002 opened #59 "Seems like the cookies are invalid, try regenerating them."
every time i feel up the values of the cookies it says:  Seems like the cookies are invalid, try regenerating them.

whats the problem here

[2020-10-07 08:01] Demmonius commented on #58
May the dockerfile be update? It doesn't work if you don't change this version. Thanks :D

[2020-10-07 08:55] tpetry commented on #58
@outime You hardcoded the chrome version in the docker file which is a bad idea as it has been already superseded with a new version. Is it possible to load the newest version and load a matching chrome driver?

[2020-10-07 09:34] outime commented on #58
@tpetry well, I don't think it's a bad idea. It makes sense to stick to a known version that works than using the latest one and then having to figure out why it works for some users and why it doesn't for others. It's unfortunate that they removed the package for the previous version so quickly. I see two solutions:

- Either we do what you suggest, which could be achieved with a script run on do

[2020-10-07 09:45] com0t opened #60 "AttributeError: 'JpegImageFile' object has no attribute 'getexif'"
i was install requirements.txt

[2020-10-07 09:57] tpetry commented on #33
The problem is still persisting

[2020-10-07 10:01] tpetry commented on #58
Because of #33 i am unable to test it correctly.

I modified the Dockerfile to not use the apt repository (because the files are replaced every few days) but to download them (and they seem to be available there much longer). Is https://github.com/tpetry/GHunt/blob/master/Dockerfile working for someone? If it is working i start a pull request.

[2020-10-07 10:16] outime commented on #58
@tpetry at least it builds for me. One thing though, why `gdebi` and not use the built-in `dpkg -i ...`? Also a minor thing an extra space in the `curl`.

[2020-10-07 10:42] tpetry commented on #58
`dpkg -i` is not resolving the dependencies by the `deb`, you have to install them before installation. And who knows which dependencies chrome will need today and tomorrow. `gdebi` on the other hand resolves the dependencies and loads them. I will fix the curl.

Yeah i can test whether it's building too, but running does not work for me - no matter if dockerized or not. Can anyone verify that the

[2020-10-07 10:52] outime commented on #58
It doesn't:

[code]

But then it might be related to the build process. I see some errors not seen before:

[code]

[2020-10-07 11:06] tpetry commented on #58
Does it work for you without docker?

[2020-10-07 11:58] #44 closed

[2020-10-07 12:38] Bapt5 commented on #38
@mxrch The problem is still persisting. Can someone help me please?

[2020-10-07 12:58] rexdivakar commented on #38
I'm looking into it give me sometime will fix it soon

[2020-10-07 13:03] Bapt5 commented on #38
Okay Thank you very much @rexdivakar

[2020-10-07 13:13] rexdivakar commented on #38
May i know the details ??
__Secure-3PSID => as.fllas
APISID => af
SAPISID => af
HSID => af

[2020-10-07 13:56] x0pa commented on #33
same issue here too

[2020-10-07 14:26] JuliaCao commented on #58
I'm not sure if this is the same as your error: ```Message: Service ./chromedriver unexpectedly exited. Status code was: 127```

[2020-10-07 14:43] MZIntelligence opened #61 "chromedriver"
Directory
/home/user/GHunt

Installed requirements and dependencies.
Operating System: Linux Ubuntu OS Subsystem --> Windows 10

Error:!
The chromedriver is missing.
Please put it in the GHunt directory.

![image](https://user-images.githubusercontent.com/61881919/95346267-44065080-0881-11eb-8088-cd9b0ca61ebf.png)

Any tips to make it work with sublinux? I am guessing this could either be an issue

[2020-10-07 14:58] PinkDev1 commented on #60
Post the full error message, the command you ran, and your python version; Otherwise we can't help you

Due to vagueness, this might just be a duplicate of #54

[2020-10-07 15:01] kapik opened #62 "groupadd: GID '20' already exists"
Hey!

I'm running the docker build command on Mac.
I have this error:
[code]

FYI: the USER variable is set

[2020-10-07 16:30] Bapt5 commented on #38
What do you want to know?

[2020-10-07 18:24] karniv0re-cyber commented on #56
Same Issue! 👎

[2020-10-07 20:39] belveruski commented on #58
Same error:

[code]

[2020-10-07 21:40] Androbin opened #63 ""Contributions by" not in gmaps_source"
[code]

[2020-10-07 21:42] Androbin opened #64 "'extendedData' not in infos"
[code]

[2020-10-07 22:10] mxrch commented on #64
Hello @Androbin , can you give me the target email or copy paste here the output after uncommenting the `print(data)` in hunt.py ~line 53 ?

[2020-10-07 22:12] mxrch commented on #63
Hello, I think this issue is related to your second in #64 so I'm closing it and we'll talk on the other one.

[2020-10-07 22:12] #63 closed

[2020-10-07 22:18] mxrch commented on #62
I am letting this issue to the Dockerize PR people 😄

[2020-10-07 22:19] mxrch commented on #61
Hello @MZIntelligence , can you retest with the latest push ? We added the auto-install of chromedriver.

[2020-10-07 22:23] mxrch commented on #60
So you got an AttributeError when installing the requirements.txt ? 🤔
Please help us understand by doing what PinkDev1 said.

[2020-10-07 22:23] mxrch commented on #59
@presmedia002 be sure to not include the quotes when pasting them.

[2020-10-07 22:24] #59 closed

[2020-10-07 22:27] mxrch commented on #58
Hello guys, you may be removing the hardcoded version of Google Chrome in the Dockerfile since the last push includes the auto-install of chromedriver, so not need anymore to be sure to have the same version for Google Chrome and chromedriver.
Since I'm not a Docker user I let you doing a pull request to fix that !

[2020-10-07 22:29] mxrch commented on #35
No response since 2 days, I'm closing this issue.
@Franc-ctrl I let you re-opening this issue if needed.

[2020-10-07 22:29] #35 closed

[2020-10-07 22:31] mxrch commented on #33
@tpetry @x0pa can you tell me if it fix your issue ? https://stackoverflow.com/questions/49323099/webdriverexception-message-service-chromedriver-unexpectedly-exited-status-co

[2020-10-07 22:32] mxrch commented on #33
Also, on what operating system are you ?

[2020-10-07 22:34] Androbin commented on #64
I censored some fields for privacy reasons:
[code]

[2020-10-07 22:37] mxrch commented on #49
@mmsouto81 on line 34, can you change the line `client = httpx.Client(cookies=cookies)` by `client = httpx.Client(cookies=cookies, timeout=20)` and tell me what it does ?

[2020-10-07 22:40] mxrch commented on #64
It's very very weird. target only has CONTACT containers and any PROFILE containers.. is it a GSuite email ? Or anything special ?

[2020-10-07 22:50] mxrch commented on #56
I don't know how to fix this issue, since Google obfuscate the code and I don't know what triggers this request.
The driver waits for this request since it has an Authorization token in it, that we need to use the Hangouts endpoint.
I can search for another way to find this Authorization token but right now I don't know how to help you.
Btw, how is your internet speed ? Maybe it's just the timeout

[2020-10-07 22:59] mxrch commented on #38
@Bapt5 can you do `python -c "import _socket;print(_socket.gethostbyaddr('www.google.com'))"` and tell me what it does ?
Just to know if you'll have the same error.
Reference : https://github.com/openwrt/packages/issues/1311

[2020-10-07 23:04] MZIntelligence commented on #61
Hey @mxrch tested it real quick and it got me pass the chromedriver but now I seem to have issues with the headleas chrome.
![image](https://user-images.githubusercontent.com/61881919/95396831-6cb13900-08c7-11eb-82b3-70808fe7a6ca.png)

I did get it to work on my CentOS VM. So this seems to be one of those headaches when it comes to Sublinux on Windows. I'd be happy to keep on troubleshooting this

[2020-10-07 23:08] mxrch commented on #61
Hm weird, people who did the WSL support doesn't had this problem.. @christianboyle an idea ?

[2020-10-07 23:13] christianboyle commented on #61
No, I never ran into this error. Aside from installing `chromedriver.exe` things should be working if you are running latest versions of everything and WSL 1.

[2020-10-07 23:20] christianboyle commented on #61
Just confirmed everything is working with the following:

1. `git clone git@github.com:mxrch/GHunt.git`
2. `cd GHunt`
3. `python3 -m pip install -r requirements.txt`
4. `python3 check_and_gen.py`
5. (it doesn't find chromedriver.exe, so it downloads and installs automatically)
6. Enter auth tokens
7. `python3 hunt.py larrypage@gmail.com`

[2020-10-08 00:19] Androbin commented on #64
It's just the regular private account of a friend. I tested various other email addresses and they work just fine.

[2020-10-08 00:22] mxrch commented on #64
Alright, I'll add exceptions for it and your other issue on Gmaps.
By curiosity, is it a gmail address or not ?

[2020-10-08 00:41] Androbin commented on #64
It is not a gmail address

[2020-10-08 00:41] Androbin commented on #64
I have figured out what the issue is

[2020-10-08 00:42] Androbin commented on #64
The API is just reading my contact info. When I remove the email address from my Google contact, it says there is no Google account associated with that email address.

[2020-10-08 01:20] lalarobin opened #65 "Cannot find Chrome binary"
[+] The cookies seems valid ! Generating the Google Docs and Hangouts token...                                                                                                                                                                  Google Docs Token => AC4w5VhkP2mR4i2Ec4Wda-41iFSZ2W-zZQ:1602119868718                                                   Traceback (most recent call last):

[2020-10-08 01:25] mxrch commented on #65
Hello, have you Google Chrome installed ?

[2020-10-08 01:27] lalarobin commented on #65
Yes, it's my primary browser

[2020-10-08 05:26] presmedia002 commented on #59
yeah made sure of that
but the issue is still as it

[2020-10-08 05:49] presmedia002 opened #66 "every time i feel up the values of the cookies it says: Seems like the cookies are invalid, try regenerating them. whats the problem here"
every time i feel up the values of the cookies it says: Seems like the cookies are invalid, try regenerating them.

whats the problem here

[2020-10-08 05:50] presmedia002 commented on #66
made sure to not include the quotes when pasting them.

[2020-10-08 07:32] Bapt5 commented on #38
@mxrch No I have not the same error I receive this text. `('par10s28-in-f4.1e100.net', ['par10s28-in-f100.1e100.net'], ['216.58.204.100'])`

[2020-10-08 08:20] pawisoon opened #67 "Google Photos public photos found but cant see them when visiting URL"
I got the following output but when I go to the url it shows 404 error.

[code]

[code]

[2020-10-08 08:44] kirinnee opened #68 "docker build fails due to chrome version"
Dockerfile
[code]

Error Logs:
[code]

[2020-10-08 09:01] zefj commented on #68
@kirinnee changing `CHROME_VERSION` to `86.0.4240.75-1` worked for me

[2020-10-08 09:48] noobkiddie opened #69 "permission error"
i see this error
![cookie](https://user-images.githubusercontent.com/72414695/95442873-e5e17800-0929-11eb-9f59-a066e9c53399.png)

[2020-10-08 11:46] enclude opened #70 "Seleniumwire fail in proxy?"
When run `sudo python3 hunt.py *@gmail.com` or `python3 hunt.py *@gmail.com` i got error after "Google Photos : https:// "

`Error making requestPhotos albums overview...
Traceback (most recent call last):
  File "/usr/local/lib/python3.8/dist-packages/seleniumwire/proxy/proxy2.py", line 91, in proxy_request
    conn.request(self.command, path, req_body, dict(req.headers))
  File "/usr/lib/python3

[2020-10-08 13:15] Cornul11 commented on #25
@tddschn it does look for it for me on Ubuntu 20.04.

[2020-10-08 13:29] tddschn commented on #25
@Cornul11 Thanks for the update! Many changes have been made in the code base and Ghunt may look for the $PATH now :)

[2020-10-08 13:32] tddschn commented on #25
Nope, I was wrong. Now ghunt requires the `chromedriver_autoinstaller` module when I removed chromedriver from ghunt dir and run the Ghunt.py outside of ghunt dir :(
![image](https://user-images.githubusercontent.com/45612704/95465440-bc6a3000-09ad-11eb-925d-06300e03e11f.png)

[2020-10-08 13:45] tddschn commented on #70
proxy2.py in seleniumwire failed on my machine too (macOS, python 3.8)
![image](https://user-images.githubusercontent.com/45612704/95466946-7c0bb180-09af-11eb-908a-d24b7b256962.png)

![image](https://user-images.githubusercontent.com/45612704/95466896-6d24ff00-09af-11eb-8dd8-a70647229e2a.png)

[2020-10-08 13:58] tpetry commented on #33
The automatic chrome driver installation you added solved the problem

[2020-10-08 13:58] #33 closed

[2020-10-08 14:33] Derpyhsi commented on #56
https://www.speedtest.net/result/10216882797.png
My internet speed test.
Also, I noticed as I was looking in Dev Tools, the request is received but for some reason the script does not pick up on it?

[2020-10-08 16:44] JuliaCao commented on #68
duplicate of #58

[2020-10-08 16:57] JuliaCao commented on #58
This worked for me. I was able to build the image and run the python scripts

[2020-10-08 17:05] outime commented on #58
@mxrch alright let me take a look, thanks for the heads up.

[2020-10-08 17:46] outime commented on #58
I opened a PR #71 that seems to fix everything. I could use both scripts and worked very well.

[2020-10-08 22:49] #58 closed

[2020-10-08 22:49] #68 closed

[2020-10-08 22:50] mxrch commented on #58
Thanks to @outime the I merged is fix.
@JuliaCao does it works now ?

[2020-10-08 23:09] mxrch commented on #25
I have pushed this => https://github.com/mxrch/GHunt/commit/b23d0d6b23baa21546f8a9a3c136e55d53b8fd61
@tddschn is it good now ?

[2020-10-08 23:19] mxrch commented on #64
Ahh okay ! I understand now, I was wondering too that it can't be normal.
So I guess it's not a problem related to GHunt since your email address does not belongs, but I'll maybe add an exception to add the "This email address does not belong to a Google Account" message if it doesn't find any PROFILE container.

[2020-10-08 23:19] #64 closed

[2020-10-08 23:52] tddschn commented on #25
@mxrch In b23d0d6, the chromedriver in the PATH works! Thank you.

But if invoked from outside of the dir (data.txt is recently generated and valid):
![image](https://user-images.githubusercontent.com/45612704/95524556-447b2480-0a04-11eb-856c-c8fd85bbc7d1.png)

[2020-10-09 06:30] tpetry commented on #62
@mxrch This bug is solved in the newest `Dockerfile`

[2020-10-09 06:38] shanow7 opened #74 "No module named 'sniffio'"
hi, I've problem, can you help?

python3 hunt.py -h
Traceback (most recent call last):
  File "hunt.py", line 7, in <module>
    import httpx
  File "/usr/local/lib/python3.8/dist-packages/httpx/__init__.py", line 2, in <module>
    from ._api import delete, get, head, options, patch, post, put, request, stream
  File "/usr/local/lib/python3.8/dist-packages/httpx/_api.py", line 3, in <module>

[2020-10-09 06:39] tpetry opened #75 "Extract profile photos from google accounts"
Google profiles very often have a stored photo for a profile. It would be really great if GHunt could try to extract these profile photos or report the URLs found to the images (are there possibly different sizes?).

Google Maps Reviews for example have the profile name and the profile photo in the upper right corner. Maybe there are more sites that export profile pictures without having to find i

[2020-10-09 06:55] tpetry opened #77 "Report more information for further analysing"
Currently GHunt only reports which Google services were queried and which information was retrieved. Analogous to the output of the Google ID (gaia_id) it would be nice to output different Google IDs for further research.

One use would be e.g. #75 so that attempts could be made to get the data. And to be able to work more constructively on extensions by providing the information where to find add

[2020-10-09 07:15] jantjeu commented on #74
it's mean you don't have httpx, httpcore, sniffio installed but first try 'python' not 'python3':

$ python hunt.py -h

[2020-10-09 07:24] dzaczek opened #78 "youtube list index out of range"
[code]

[2020-10-09 07:29] shanow7 commented on #74
sudo pip install sniffio
[sudo] password for osint:
Requirement already satisfied: sniffio in /root/.local/lib/python3.8/site-packages (1.1.0)
osint@kali:~/GHunt$ sudo pip install httpx
Requirement already satisfied: httpx in /usr/local/lib/python3.8/dist-packages (0.16.1)
Requirement already satisfied: httpcore==0.12.* in /usr/local/lib/python3.8/dist-packages (from httpx) (0.12.0)
Requirement al

[2020-10-09 07:52] outime commented on #69
@noobkiddie I assume you use Docker, what OS? Also, can you try to update to the latest `master` and build the image again? There were changes that could fix your problem.

[2020-10-09 07:53] outime commented on #74
This is more related to Python support than GHunt IMHO. You could create a virtualenv and see if it works that way. Or the easiest way if you aren't familiar with these things is to just use the Docker version as it manages everything for you.

[2020-10-09 08:05] PiotrBandurski commented on #62
@tpetry Unfortunately problem still occurs
[code]

[2020-10-09 08:07] tpetry commented on #62
@PiotrBandurski Update the source code. The `Dockerfile` has been changed to use `gid/uid = 1000`

[2020-10-09 08:12] PiotrBandurski commented on #62
@tpetry I'm using latest code from master

[2020-10-09 08:18] PiotrBandurski commented on #62
@tpetry Oh sorry I had some cache, now its working

[2020-10-09 12:09] mxrch commented on #78
Thanks for reporting, I fixed it in commit https://github.com/mxrch/GHunt/commit/38d4c814696cd2150e502d5596d05977f24212c3.

[2020-10-09 12:09] #78 closed

[2020-10-09 12:16] mxrch commented on #67
Yeah I didn't want to include the URL used for the bypass but I think I should to avoid issues like this.

[2020-10-09 12:19] mxrch commented on #67
I edited it in https://github.com/mxrch/GHunt/commit/fed329133c1b0ab1e34cdf3d82816af503265372 !

[2020-10-09 12:19] #67 closed

[2020-10-09 12:27] mxrch commented on #77
Hello, I don't really understand because users only have one Google ID.
But I agree with your other issue, I'm writing the rest of my message there to avoid saying the same thing.

[2020-10-09 12:29] mxrch commented on #75
Hello @tpetry , I also thought about that.
I think I'll make a commit soon for this, and see if we can directly print the picture in the terminal, or opening the image with a Image.open() with PIL, all obviously configurable in the config.py.
I'll also add something to detect if the account have a default picture or not.

[2020-10-09 12:31] mxrch commented on #61
I'm closing this issue, feel free to reopening it if needed.

[2020-10-09 12:31] #61 closed

[2020-10-09 12:35] mxrch commented on #74
@shanow7 try reinstalling the requirements.txt with "--user" option for pip.
Often installing the modules as sudo and run the python script as user works but I think in certain configurations it's not.
If it doesn't work, try also running the hunt.py as root just for the debug.

[2020-10-09 12:36] #54 closed

[2020-10-09 12:40] mxrch commented on #66
Try disconnect and relogin in your Google Account and take the cookies with the right names, and try to login to Hangouts and Google Docs just to be sure you don't have a popup, warning or anything else, because it uses Hangouts and Google Docs to check for the cookies.

[2020-10-09 12:40] #60 closed

[2020-10-09 12:42] mxrch commented on #56
Interesting, can I see the request in the Dev Tools ? maybe is it not exactly the same endpoint.

[2020-10-09 12:43] #49 closed

[2020-10-09 12:44] #27 closed

[2020-10-09 12:44] #10 closed

[2020-10-09 12:49] mxrch commented on #65
It means you do not have Google Chrome installed in standard locations.. can you try reinstalling it, or try this : https://groups.google.com/d/msg/chromedriver-users/EURx0cP5olg/aMsS5fm4DgAJ ?
You can also search for the error online there is a lot of topics.

[2020-10-09 12:55] shanow7 commented on #74
it's workt it, but how can I generate cookies and tokens ?

[2020-10-09 12:59] noobkiddie commented on #69
I use kali linux OS. ok fine i will update both of my systems and tool.

[2020-10-09 13:33] mxrch opened #79 "[Not an issue] TODO LIST & Discord for researches"
## Docker
- ✅ Link Dockerhub to automate the Docker image build
- ✅ Adapt the Docker build in the Readme for Windows users too

## Features
- ✅ Not load cookies by default in Google Photos & Google Maps & Youtube to have a public view and avoiding seeing private informations if we test with our own email. Gonna add options in config.py to load them.
- ✅ (just write for the moment) Add a check to k

[2020-10-09 13:42] mxrch commented on #79
I'm a little busy these last days but I try my best to manage issues, PRs and new features, thanks to all the contributors !

[2020-10-09 15:52] mxrch commented on #74
Just do "python3 check_and_gen.py" as written in the Readme.

[2020-10-09 15:52] #74 closed

[2020-10-09 15:55] mxrch commented on #69
@noobkiddie I'm sure you put your script in something like /usr/share or /opt, try to put it in your home directory or your desktop.
You can't write a file in a directory where you doesn't have rights.

[2020-10-09 16:48] shanow7 commented on #74
I do not understand this... "you will be asked for the 4 required cookies"

[2020-10-09 17:34] noobkiddie commented on #69
thanks brother. it worked nice tool and i have some doubt on.

![ckie](https://user-images.githubusercontent.com/72414695/95614073-f54ce800-0a33-11eb-9549-1f2899a1b079.png)

[2020-10-09 17:34] #69 closed

[2020-10-09 22:35] 5l1v3r1 opened #80 "Reverse search?"
Thank you for the great tool. It works flawlessly as it is claimed. But i wanna ask if we make reverse search like a youtube channel to email ? Thank you for attention.

[2020-10-09 22:40] ctrlsam commented on #79
Please create a discord, will help a lot.

[2020-10-09 22:47] ctrlsam commented on #79
I've made a discord here: https://discord.gg/Fe4CMw
As soon as you join @mxrch ill make you owner

[2020-10-10 13:54] enderax commented on #62
Hi,
First time, I cloned the repo today but the same error still occurs

[2020-10-10 14:14] mxrch commented on #80
Hello @5l1v3r1 , we can't. 😕
Just pray for an email in the about section or getting usernames to guess the email.

[2020-10-10 14:14] #80 closed

[2020-10-10 17:37] JuliaCao commented on #58
Looks good to me. Thank you!

[2020-10-10 18:07] gjgd commented on #62
I also got the error with the current code on master (https://github.com/mxrch/GHunt/tree/5b3756738b2b3479b0d6b5c7e8f3042655d1a133)

[2020-10-10 20:32] PawelGluszek opened #84 "Issue with borwser"
Hi,
After running check_and_gen.py and providing cookies i see checking browser and then this error appears:
`Traceback (most recent call last):
  File "check_and_gen.py", line 75, in <module>
    driver = webdriver.Chrome(executable_path=driverpath, seleniumwire_options=options, options=chrome_options)
  File "C:\Users\Paweł\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0

[2020-10-10 20:51] mxrch commented on #84
Duplicate of #65 .

[2020-10-10 20:51] #84 closed

[2020-10-10 23:01] devXghost opened #85 "error after validating cookies ">PermissionError: [Errno 13] Permission denied: 'resources/data.txt'""
<code> sudo docker run -v $(pwd)/resources:/usr/src/app/resources -ti ghunt check_and_gen.py </code>
..

[2020-10-11 03:20] luizlc commented on #85
I have the same problem  :(

[2020-10-11 10:16] devXghost commented on #85
I don't have this issue anymore, in fact, I didn't execute the correct docker run command as indicated in the readme file, my comand was missing <code>  --build-arg UID=$(id -u ${USER}) --build-arg GID=$(id -g ${USER})  </code>

[2020-10-11 10:16] #85 closed

[2020-10-11 10:46] kuldeepkumar2330 commented on #80
#80

[2020-10-11 10:46] kuldeepkumar2330 commented on #80
#80

[2020-10-11 15:27] GeorgNation opened #86 "In Termux not working"
I tried to install GHunt on my phone via Termux, but when installing packages, this appears![Screenshot_2020-10-11-21-17-27-011_com.termux.jpg](https://user-images.githubusercontent.com/55389952/95682710-955b6a80-0c08-11eb-92db-8a5e5fde1d65.jpg)

[2020-10-11 15:28] GeorgNation commented on #86
![Screenshot_2020-10-11-21-28-00-396_com.termux.jpg](https://user-images.githubusercontent.com/55389952/95682722-a6a47700-0c08-11eb-8574-3a32ed0e2904.jpg)

[2020-10-11 15:29] GeorgNation commented on #86
Python 3.9.0, pip3 install -r requirements.txt

[2020-10-11 19:16] Bapt5 commented on #38
@rexdivakar Has you found a solution?

[2020-10-12 06:40] tpetry commented on #75
Just printing the links to the image is in my opinion the most useful solution. There is no problem in opening the image and different environments (e.g. docker) and making an ascii image of the image and print it to the terminal will remove many features of the face.

[2020-10-12 06:42] tpetry commented on #79
I will work on the github action to build the docker container, will be finished until the end of the week ;)

This should completely remove all the bug reports about installing GHunt. How about we then change the manual to only provide instructions on how to run GHunt within docker? This should prevent a lot more bug reports in the future.

[2020-10-12 12:25] mxrch commented on #79
Thank you @tpetry !
I don't think restricting people to using docker is a good idea, for example I myself don't use docker.

For the Github actions, I already created the dockerhub account, I'll read some documentation and it should be good I think !

[2020-10-12 12:26] Franc-ctrl commented on #35
Works fine now!!! :D :D :D

[2020-10-12 12:26] mxrch commented on #75
@tpetry yep, I just finished this feature, it can detect if the person has the default profile picture or not, and then saving it and/or open it !
I fix a little thing and I'll push it

[2020-10-12 12:36] tpetry commented on #79
You won‘t need dockerhub. Github added a docker container registry a few weeks ago :)

[2020-10-12 15:55] Jirpm opened #87 "Error while building Docker"
[code]

[2020-10-12 17:57] JanuszSpiewa opened #88 "Linux Mint reqirements install error"
Hi

I dont run GHunt

`pip install -r requirements.txt
Collecting geopy (from -r requirements.txt (line 1))
  Downloading https://files.pythonhosted.org/packages/41/4e/a3eb6ac14a9c4344d6f5e66a9457d82cf124daf5c8176cec0a49677b0e03/geopy-1.23.0-py2.py3-none-any.whl (120kB)
    100% |################################| 122kB 658kB/s
Collecting httpx (from -r requirements.txt (line 2))
  Could not find a

[2020-10-12 18:15] mxrch commented on #88
@JanuszSpiewa  Which python version are you running and on which operating system are you ?

[2020-10-12 18:33] JanuszSpiewa commented on #88
python 3.8

OS: Linux mint 19.3

[2020-10-12 19:05] wovalle commented on #62
I also got the error and I (kind) of fixed it by editing the -o as the first option of the `groupadd` command in the Dockerfile:

`groupadd -g ${GID} -r app`

Don't know enough about linux tools to know if this is a bad practice though, I assume the error was because I'm in a mac

[2020-10-12 20:28] gjgd commented on #62
That worked for me as well

[2020-10-13 22:37] Navaxrro commented on #87
Good afternoon mate

I have interest in use this github repo to check on security issues within my team, We do photography and use google photos pretty often

I have a bit of html css and cmd experience and once I get my hands onto something I quickly learnt it.

Since it the knowledge of this security bridge I have tried to install this in my computer but I can't figure it out

I tried installing

[2020-10-14 06:45] hetmehtaa opened #90 "Invalid Gmail address."
$ python3 hunt.py email@gmail.com

Invalid Gmail address.

[2020-10-14 06:56] presmedia002 opened #91 "[+] The cookies seems valid ! Generating the Google Docs and Hangouts token..."
[+] The cookies seems valid ! Generating the Google Docs and Hangouts token...

Google Docs Token => AC4w5Vhf1Qw6SfuT1VNZgQMa1k_DIdam5w:1602658865137
Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/selenium/webdriver/common/service.py", line 72, in start
    self.process = subprocess.Popen(cmd, env=self.env,
  File "/usr/lib/python3.8/subprocess.py", line 854, in __init__

[2020-10-14 07:08] presmedia002 commented on #91
got it ..please close it

[2020-10-14 07:08] #91 closed

[2020-10-14 07:19] hetmehtaa opened #92 "[-] This email address does not belong to a Google Account."
$ python3 hunt.py myemail@gmail.com

     .d8888b.  888    888                   888
    d88P  Y88b 888    888                   888
    888    888 888    888                   888
    888        8888888888 888  888 88888b.  888888
    888  88888 888    888 888  888 888 "88b 888
    888    888 888    888 888  888 888  888 888
    Y88b  d88P 888    888 Y88b 888 888  888 Y88b.
     "Y8888P88 888

[2020-10-14 07:49] luizlc opened #93 "PermissionError: [Errno 13] Permission denied: 'resources/data.txt'"
Can you help me with this error?

Google Docs Token => AC4w5VhNtjx23lAT8OXxC6Bns9EAzHg5Yg:160266128
Authorization Token => SAPISIDHASH 1602661292_efb1c0fa30e8db1dc170a4b26798d4941f6e
Hangouts Token => AIzaSyD7InnYR3VKdb4j2Ir2VyEazl6k
Traceback (most recent call last):
  File "check_and_gen.py", line 97, in <module>
    with open(cfg['data_path'], 'w') as f:
PermissionError: [Errno 13] Permission d

[2020-10-14 08:15] dkasak opened #94 "PermissionError when running check_and_gen.py"
I made a virtualenv, activated it and installed GHunt's depedencies using

    pip install -r requirements.txt

Then I ran `python check_and_gen.py`. After entering the required cookies, it reports they seem valid and then the following happens:

    Traceback (most recent call last):
    File "/home/dkasak/code/projects/GHunt/venv/lib/python3.8/site-packages/selenium/webdriver/common/service.py",

[2020-10-14 08:19] alfonsostg commented on #66
Exact same issue for me.

OS: MacOS catalina 10.15.4

Manual (not docker) installation, clean G account re-logged in, cookies taken from Chrome.

[2020-10-14 09:30] RandomRobbieBF opened #95 "Add Feature google calendar exposure"
Hey,

you could add google calendar exposure also

https://calendar.google.com/calendar/u/0/htmlembed?src=whatever@gmail.com
if 200 ok response and does not have busy all over it then it's exposed and other http status it's not exposed.

[2020-10-14 11:43] paulcsiki commented on #56
I am seeing the same issue however I don't know how to check the request in the dev tools. Is the chromium driver just relaying the request through one of the opened tabs or?

[2020-10-14 13:50] pi-eaterVZ commented on #94
I have the same issue , venv , command prompt as admin (windows)

PermissionError: [WinError 5] Toegang geweigerd
During handling of the above exception, another exception occurred:

  raise WebDriverException(
selenium.common.exceptions.WebDriverException: Message: 'chromedriver_autoinstaller' executable may have wrong permissions. Please see https://sites.google.com/a/chromium.org/chromedriver/h

[2020-10-14 14:20] Derpyhsi commented on #56
Here is the request.
`Request URL: https://people-pa.clients6.google.com/v2/people/me/blockedPeople?key=AIzaSyD7InnYR3VKdb4j2rMUEbTCIr2VyEazl6k
Request Method: OPTIONS`

[2020-10-14 15:10] NikolozCh commented on #94
Hey guys.

Do you have **chromedriver** in the same folder as well as `hunt.py`?

if not, please go to Chrome Setting's page -> `chrome://version` (paste this as URL in Google Chrome), check your chrome version and go to Google [ChromeDriver Download Page](https://chromedriver.chromium.org/downloads). Then download related chromedriver and put that into the GHunt directory.

I hope it helps! (If n

[2020-10-14 15:24] paulcsiki commented on #56
Isn't that the CORS preflight request?

[2020-10-14 18:08] Timodz commented on #88
I hade a similar issue in Linux Mint 19, the solution was to upgrade pip and install again
`pip install --upgrade pip`

and make sure that pip is from a 3.x python version by using this command since for me I hade to use pip3 since pip was using python 2.7
`pip -V`

[2020-10-14 21:43] CrowGrandfather opened #96 "Permission Denied: Resources/data.txt"
[code]

[2020-10-14 22:36] PinkDev1 commented on #93
Does `resources/data.txt` exist?
if so, do:
[code]

I should also mention that a similar fix can probably be used on #94 and #96

[2020-10-14 22:40] mxrch commented on #95
Hello @RandomRobbieBF , this feature is planned, see the pinned issue #79.

[2020-10-14 22:40] #95 closed

[2020-10-14 22:42] mxrch commented on #88
Yes, the best practise is to use `python3 -m pip`, thank you for your feedback @Timodz .

[2020-10-14 22:42] #88 closed

[2020-10-14 22:50] mxrch commented on #92
Yes, this means this email doesn't exists.
You can test with various simple names like email@gmail.com, google@gmail.com, admin@gmail.com, trump@gmail.com, I think Google just blocks some dangerous names that can be used for phishing or something like that.

[2020-10-14 22:50] #92 closed

[2020-10-14 22:51] mxrch commented on #90
Duplicate of #92 because you opened the same issue two times..

[2020-10-14 22:51] #90 closed

[2020-10-14 22:58] mxrch commented on #79
The default picture detection and auto opening & saving is ready but I'm not pushing it right now because it sometimes throws the warning `process already running` on Windows when using the PIL's Image.show() function.
I believe this warning is thrown because of a misconfig in the function, so I'll see if I can fix it for GHunt directly in PIL and then importing the modified library locally.
I'm c

[2020-10-14 23:00] mxrch commented on #79
If you want to debug it, just save an image, open a Python console, import the Image module of PIL (the fork, Pillow), and then load the picture in an Image object.
Then, just img.show() like 20 times, maybe it is just a problem for me, I'm on Windows 10.

[2020-10-15 00:08] MarCus-8421 opened #99 "Doesn't belong to a Google Account"
I am giving a good account , still it is saying email doesn't belong to a Google account !!
![IMG_20201015_053814](https://user-images.githubusercontent.com/65368585/96058385-a9bd9280-0ea8-11eb-9c9a-39217a9de88c.jpg)

[2020-10-15 05:30] coderj001 commented on #86
Try to go through this termux [wiki](https://wiki.termux.com/wiki/Python#Python_module_installation_tips_and_tricks).

[2020-10-15 06:10] GeorgNation commented on #86
the error occurs when installing skipy.

[2020-10-15 06:11] GeorgNation commented on #86
the error occurs when installing scipy

[2020-10-15 09:06] saikiran994 commented on #25
Check and gen.py needs tokens like cookies
Hunt.py need mail id for hunting

[2020-10-15 09:43] clxtho opened #101 "unable to get local issuer certificate"
after running check_and _gen.py
i suppose somethin with the cookies?

![B8B15FC2-C33C-42E3-8701-F211C55F4617_1_105_c](https://user-images.githubusercontent.com/38918838/96106354-fd6fb200-0e8f-11eb-8b14-27cc06ca3af0.jpeg)

[2020-10-15 10:02] tddschn commented on #25
@saikiran994 Yeah I have all of them :)

[2020-10-15 12:02] 1r0sh opened #102 "Please generate cookies and tokens first."
Please generate cookies and tokens first.??
What should I do?

[2020-10-15 12:39] NikolozCh commented on #102
Next time before you open issue here, please read `README.md` from [GHunt Repo](https://github.com/mxrch/GHunt).

Before you run `hunt.py`, you need to run `check_and_gen.py` got to [Accounts Google Page](https://accounts.google.com) and extract cookies  from there.

If you still can't understand what I wrote, check `README.md`.

[2020-10-15 14:02] alexanderajju opened #103 "Error after checking cookies"
Traceback (most recent call last):
  File "check_and_gen.py", line 126, in <module>
    auth_token, hangouts_token = get_hangouts_tokens(cookies, driverpath)
  File "check_and_gen.py", line 61, in get_hangouts_tokens
    driver = webdriver.Chrome(
  File "/usr/local/lib/python3.8/dist-packages/seleniumwire/webdriver/browser.py", line 86, in _init_
    super()._init_(*args, **kwargs)
  File "/usr/l

[2020-10-15 16:00] NikolozCh commented on #103
Please check Issue #94 . I assume that you have the same problem, you need to install `ChromeDriver` first, before you start using GHunt

[2020-10-15 17:50] #102 closed

[2020-10-15 18:22] Strannik74 opened #105 "Error"
Hello Friend!
I have Windows 7
Here's a mistake
![321](https://user-images.githubusercontent.com/31668854/96170577-34e86800-0f3d-11eb-9dee-6bf1fdc40d95.jpg)

[2020-10-16 09:31] arthur-wxy opened #108 "Message: invalid cookie domain"
i'm sure that my cookies are all correct,
![20201016172944](https://user-images.githubusercontent.com/39916187/96241787-39f8f600-0fd5-11eb-8c56-899e71fad27e.jpg)

after i input all the cookies, just like the pic below, how to fix this problem? plz checkout
![20201016172315](https://user-images.githubusercontent.com/39916187/96241279-8263e400-0fd4-11eb-8b15-f797a6985c91.jpg)

[2020-10-16 10:59] LucaOderFinn opened #109 "Test"

[2020-10-16 11:00] #109 closed

[2020-10-16 12:35] user-setting opened #110 "Unable to set chromedriver"
I solved the problem with check_and_gen.py which was the same issue .
now i am getting the error below:

Traceback (most recent call last):
  File "hunt.py", line 114, in <module>
    gpics(gaiaID, client, cookies, config.headers, config.regexs["albums"], config.regexs["photos"],
  File "/root/GHunt/lib/photos.py", line 104, in gpics
    out = get_source(gaiaID, client, cookies, headers, headless)

[2020-10-16 14:45] Sneomy commented on #110
Hi! Install please actually chromedriver(version of chromedriver should == version of your chrome)

[2020-10-16 15:10] user-setting commented on #110
I was able to solve it with the help of #61

[2020-10-16 15:10] #110 closed

[2020-10-16 17:14] ClaeymanDamien opened #111 "Infinite loop - Google Photos"
I noticed that, when there is a public folder in google images the program was looping endlessly. All other cases work perfectly except this one.

![image](https://user-images.githubusercontent.com/23224679/96288059-1c328d80-0fe3-11eb-9d3f-9ab80b47d58c.png)

![image](https://user-images.githubusercontent.com/23224679/96290402-d11a7980-0fe6-11eb-8aa1-6e810b8893db.png)

Traceback (most recent call l

[2020-10-16 19:58] NikolozCh commented on #105
Hey.

Can you provide more details please?
1) Have you tried running `check_and_gen.py`?
2) Is your internet connection stable?
3) Do you have any running proxies?

Your problem should be caused by internet connection, I assume. Thanks for mentioning by the way. I will add `try-exception` for it and pull the request

[2020-10-16 20:44] Lorenz11x opened #112 "After checking cookies Error"
Hi Boss, I'm this problem after checking coockies, please you can help me? Tanks !!

[+] The cookies seems valid! Generating the Google Docs and Hangouts token...

Google Docs Token => XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX:XXXXXXX
Traceback (most recent call last):
  File "check_and_gen.py", line 126, in <module>
    auth_token, hangouts_token = get_hangouts_tokens(cookies, driverpath)
  File "check

[2020-10-16 21:01] Lorenz11x commented on #112
Sorry ... I had downloaded the updated version of the chrome driver, this was the problem, solved !!

[2020-10-17 12:05] doodlewhale opened #113 "id : The term 'id' is not recognized as the name of a cmdlet"
I try and build docker image with:
`docker build --build-arg UID=$(id -u ${USER}) --build-arg GID=$(id -g ${USER}) -t ghunt .`

I get error:
`id : The term 'id' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a
path was included, verify that the path is correct and try again.
At line:1 char:32
+ docker build --build-arg U

[2020-10-18 00:41] diehard88 opened #114 "chrome driver auto installer error"
![image](https://user-images.githubusercontent.com/25366502/96356191-2fb02800-10b9-11eb-9603-8ddb2e157e76.png)

I'm running this on Kali under WSL 2 (windows 10).

[2020-10-18 19:18] TheFiZi opened #115 "OSError: [Errno 99] Cannot assign requested address"
Not really anything you can do about this but I wanted to post it here so someone else running into this problem can see one of the potential solutions:

When performing a lookup I received this error:

[code]

Issue was my PiHole was blocking DNS for `googleads.g.doubleclick.net`. Once I disabled my PiHole while goofing with this tool the error did not re-occur.

[2020-10-18 19:18] #115 closed

[2020-10-18 20:14] 0xTen commented on #99
same here...

[2020-10-18 22:29] diehard88 commented on #114
I didn't have chromium installed...........

:(

[2020-10-18 22:29] #114 closed

[2020-10-19 03:29] zxcvbnmone opened #116 "docker build error Step 5"
Following readme instructions.
[code]

[code]

[2020-10-19 06:32] tpetry commented on #116
You are running a completely different docker build process, the Ghunt docker container is not using zerotier.

[2020-10-19 09:46] NikolozCh commented on #79
- added support for Google Calendar
- run GHunt tool from outside of GHunt directory

These two TODOs are "fixed" in #100

[2020-10-19 12:55] zxcvbnmone commented on #116
Ok, I thought that was weird for zero tier to be part of this project!

[2020-10-19 12:55] #116 closed

[2020-10-19 19:23] trenton-csheppard opened #117 "No module named 'imagehash'"
[code]

Several imagehash projects.  Not sure which is needed.  Re-ran pip install for ghunt.

Win 10 host machine.  Python 3.9.0.

[2020-10-19 23:52] Molowogan85 opened #118 "Please Add This Feature"
You have done great work with this tool.Please kindly add a feature that will be able to detect phone numbers attached to th gmail account.THANKS

[2020-10-20 04:42] presmedia002 opened #119 "httpx.ReadTimeout: The read operation timed out"
Activated Google services :
- Youtube
- Kaboo
- Photos
- Maps
Traceback (most recent call last):
  File "/usr/local/lib/python3.8/dist-packages/httpx/_exceptions.py", line 326, in map_exceptions
    yield
  File "/usr/local/lib/python3.8/dist-packages/httpx/_client.py", line 861, in _send_single_request
    (status_code, headers, stream, ext) = transport.request(
  File "/usr/local/lib/python3.8/d

[2020-10-20 10:49] shanow7 opened #121 "TypeError: init() got an unexpected keyword argument 'options'"
GHunt$ sudo python3 check_and_gen.py
[-] No stored cookies found

Enter these browser cookies found at accounts.google.com :
__Secure-3PSID => 2gfQYh2qGqQzMbOYH_-vdik8MeFcTOrBgJ_xdmGXd1WZs
APISID => qKMvZCwrVnExLNVsPYY5Yav2d
SAPISID => DCVQhAXmgc-YgqvSFq8hiZKt
HSID => ArJEblPhvcg1a

[+] The cookies seems valid! Generating the Google Docs and Hangouts token...

Google Docs Token => AC4w5ViFnxm5Wvoa

[2020-10-20 20:31] 5l1v3r1 commented on #80
well i think still might be possible. Please take a look at that one. https://regex101.com/r/5TBgN1/1

[2020-10-21 04:12] rishit-khandelwal opened #122 "Doesn't detect cookies and tokens"
I am using docker for running GHunt but `sudo docker run -v $(pwd)/resources:/usr/src/app/resources -ti ghunt check_and_gen.py`, I get:
[code]
and then i run ```docker run -v $(pwd)/resources:/usr/src/app/resources -ti ghunt hunt.py -----------@gmail.com`
i get `Please generate cookies and tokens first.```

[2020-10-22 15:55] #62 closed

[2020-10-23 19:35] olitoni commented on #117
Use Python 3.8 :)

[2020-10-23 19:41] olitoni opened #125 "IndexError: string index out of range"
Hey, with some emails im getting this error:

[code]

[2020-10-24 12:27] mxrch commented on #79
Edited todo-list to mark 3 tasks as finished.

[2020-10-24 12:28] mxrch commented on #125
Hello @olitoni , I'll take a look at it, can you send me the email in dm ? Not needed but it would help my debug and fix

[2020-10-24 12:29] mxrch commented on #118
Hello, apart the masked phone number, we can't. (and fortunately)

[2020-10-24 12:29] #118 closed

[2020-10-24 12:31] mxrch commented on #117
@trenton-csheppard can you show me what happens when you run `python -m pip install -r requirements.txt` and `python -V` ?
Also, are you sure you install the requirements with Python 3 and run the script also with Python 3 ?

[2020-10-24 12:54] olitoni commented on #125
Added you on discord / Olitoni#5539

[2020-10-24 13:55] mxrch commented on #122
Hello @rishit-khandelwal, can you rebuild the docker image and retest with the last commit ?

[2020-10-24 13:57] mxrch commented on #121
@shanow7 did you well installed the requirements.txt with the same Python version you are using with GHunt ?

[2020-10-24 13:59] mxrch commented on #113
@doodlewhale on which operating system you are trying it ?

[2020-10-24 13:59] #112 closed

[2020-10-24 14:00] mxrch commented on #111
Yes the regex can loop indefinitly, I have to find out why and improve it.
But since Google Photos module is not used anymore, I close this issue.

[2020-10-24 14:00] #111 closed

[2020-10-24 14:01] mxrch commented on #25
@tddschn pushed changes to permit using GHunt from anywhere.

[2020-10-24 14:01] #25 closed

[2020-10-24 14:02] mxrch commented on #75
Feature added.

[2020-10-24 14:02] #75 closed

[2020-10-24 14:04] mxrch commented on #56
@Derpyhsi does the issue persist with the last updates ?

[2020-10-24 14:06] mxrch commented on #86
Yeah, Termux is not supported for now.

[2020-10-24 14:06] #86 closed

[2020-10-24 14:07] mxrch commented on #119
Hello @presmedia002, does this issue persist today ?

[2020-10-24 14:20] mxrch commented on #108
Weird, because cookies are set to https://hangouts.google.com/robots.txt, so the domain should be good.
You're the only one getting this and I can't reproduce it.
Maybe try to add a `driver.wait(10)` after the line 72 `tmprinter.out("Setting cookies...")` (in the last updates)

[2020-10-24 14:22] mxrch commented on #105
Closing this issue since the author is not responding since 8 days.

[2020-10-24 14:22] #105 closed

[2020-10-24 14:24] mxrch commented on #99
![image](https://user-images.githubusercontent.com/17338428/97084152-4a345500-1615-11eb-9236-e7ae4cbdd004.png)
 It's working for me.
Can you retry with the last updates ?

[2020-10-24 14:25] mxrch commented on #66
@presmedia002 @alfonsostg does it works with the last updates ?

[2020-10-24 14:27] mxrch commented on #87
@Jirpm please launch the command in a directory you own, like in your /home/<user> or in /tmp in last case.

[2020-10-24 14:28] #96 closed

[2020-10-24 14:30] mxrch commented on #101
Nope, this is a known bug with the requests, sometimes I have this problem too, I don't know how to fix it.
This is a third-party bug.

[2020-10-24 14:30] #101 closed

[2020-10-24 14:33] #77 closed

[2020-10-24 19:28] Antxine opened #126 "AttributeError: 'bool' object has no attribute 'items' in check_and_gen.py"
Hello,
After entering my cookies and generating my tokens, the Google Docs token is generated and then I get this error:

[2020-10-24 19:52] mxrch commented on #126
@Antxine can you `git pull` and retry ?

[2020-10-24 19:58] Antxine commented on #126
It works !!

[2020-10-24 19:58] #126 closed

[2020-10-24 20:14] Antxine opened #127 "check_and_gen.py : TypeError: __init__() got an unexpected keyword argument 'options'"
Hello again

I still have an error with check_and_gen.py

[2020-10-24 20:18] mxrch commented on #127
Duplicate, please go in the issue #121 !

[2020-10-24 20:18] #127 closed

[2020-10-24 20:19] mxrch commented on #121
Antxine, Can you run it without sudo ?

[2020-10-24 20:22] Antxine commented on #121
I don't run it with sudo

Moreover, I run requirements.txt and check_and_gen.py with python3.

$ python3 -V
Python 3.8.6

[2020-10-24 20:23] mxrch commented on #121
@Antxine Can you paste the full output of the requirements installation here ?

[2020-10-24 20:25] Antxine commented on #121
$ python3 -m pip install -r requirements.txt
Requirement already satisfied: geopy in /usr/local/lib/python3.8/dist-packages (from -r requirements.txt (line 1)) (2.0.0)
Requirement already satisfied: httpx in /home/osint/.local/lib/python3.8/site-packages (from -r requirements.txt (line 2)) (0.16.1)
Requirement already satisfied: selenium-wire in /home/osint/.local/lib/python3.8/site-packages (from

[2020-10-24 20:26] mxrch commented on #121
Hm very weird. I'll investigate

[2020-10-24 21:20] mxrch commented on #121
https://github.com/SeleniumHQ/selenium/blob/63dd8b9a5af6d3d8daac997cb38872a439f24280/py/selenium/webdriver/chrome/webdriver.py#L35
The `options` should be there but I think it's getting replaced by `chrome_options`.
Replacing the keyword arg `options` by `chrome_options` did not throw error for me so I'm pushing the changes.

[2020-10-24 21:24] mxrch commented on #121
Changes pushed in https://github.com/mxrch/GHunt/commit/664db94ac8cff393addd36f0c003128c48c68703, @Antxine @shanow7 does it fix your error ?

[2020-10-24 22:58] Antxine commented on #121
i got this error

Traceback (most recent call last):
  File "check_and_gen.py", line 159, in <module>
    auth_token, hangouts_token = get_hangouts_tokens(cookies, driverpath)
  File "check_and_gen.py", line 68, in get_hangouts_tokens
    driver = webdriver.Chrome(
  File "/home/osint/.local/lib/python3.8/site-packages/seleniumwire/webdriver/browser.py", line 86, in __init__
    super().__init__(*

[2020-10-24 22:59] Antxine commented on #121
I got this error

Traceback (most recent call last):
  File "check_and_gen.py", line 159, in <module>
    auth_token, hangouts_token = get_hangouts_tokens(cookies, driverpath)
  File "check_and_gen.py", line 68, in get_hangouts_tokens
    driver = webdriver.Chrome(
  File "/home/osint/.local/lib/python3.8/site-packages/seleniumwire/webdriver/browser.py", line 86, in __init__
    super().__init__(*

[2020-10-24 23:33] mxrch commented on #121
@Antxine
1. What is your Google Chrome version ?
2. Did you download the chrome driver manually ?

[2020-10-25 10:49] #99 closed

[2020-10-25 19:15] Antxine commented on #121
Google Chrome is version 86.0.4240.111 and I did not install Chromedriver manually.

[2020-10-25 19:32] mxrch commented on #121
@Antxine Alright, weird that it auto installed the wrong version, maybe you have Chromium installed too or idk.
Try to download the chromedriver version 86 and put it in the GHunt directory, and delete the folder "83" if you have it, or another number where the auto installed chromedriver is
And then you can retry

[2020-10-25 19:54] Antxine commented on #121
I confirm that I also have Chromium.
I manually downloaded Chromedriver for version 86 and put it in GHunt/ and it works now!

[2020-10-25 20:10] #121 closed

[2020-10-26 01:38] mxrch commented on #79
Edited todo-list to mark Docker tasks as finished. 🐳

[2020-10-26 05:39] poc-anet opened #129 "Detected stored coockies"
oe@kali:~/GHunt$ python3 check_and_gen.py
[+] Detected stored cookies, checking it

[-] Seems like the cookies are invalid, try regenerating them

[2020-10-26 05:45] poc-anet commented on #129
doe@kali:~/GHunt$ python3 hunt.py XXX@gmail.com

     .d8888b.  888    888                   888
    d88P  Y88b 888    888                   888
    888    888 888    888                   888
    888        8888888888 888  888 88888b.  888888
    888  88888 888    888 888  888 888 "88b 888
    888    888 888    888 888  888 888  888 888
    Y88b  d88P 888    888 Y88b 888 888  888 Y88b.
     "Y888

[2020-10-26 05:45] #129 closed

[2020-10-26 08:46] alfonsostg commented on #66
@mxrch `[+] The cookies seems valid !`!

But after it fails in opening browser with:

[code]

From the [documentation](https://github.com/mxrch/GHunt#usage) I wasn't expecting it to open a browser, just to generate the tokens.

Why is it opening a browser? Just in case, my chrome version is `Version 86.0.4240.111 (Official Build) (x86_64)
`

[2020-10-26 11:17] mxrch commented on #66
Is it opening an automated browser to execute the obfuscated Javascript.
So I guess you talk about the Chrome browser version, now what's your chromedriver version ? Either it auto installed a folder in the GHunt directory like a folder named "86" either you manually downloaded the chromedriver in the GHunt directory.

[2020-10-26 11:46] trenton-csheppard commented on #117
@mxrch I only have Python 3 on this system; no other versions.  I pulled the the latest version before I executed the commands you requested (a444bb7..c8b0de3).  The error has changed.  I'll install the Visual Studio compiler and if I run into more issues I will try with Python 3.8 as @olitoni suggests.  I hope to have the results to you by the end of the week. 🤞

[code]

[2020-10-26 11:51] mxrch commented on #117
@trenton-csheppard yes you should try installing Microsoft Visual C++ 14.0 !

[2020-10-26 13:51] #125 closed

[2020-10-26 13:54] alfonsostg commented on #66
Hey.

FYI: `ChromeDriver 86.0.4240.22`

If I just:

[code]

But If I:

[code]

And I can correctly use GHunt!

[2020-10-27 07:50] hawks-vision opened #130 "Selenium TimeoutException has occured"
[!] Selenium TimeoutException has occured. Please check your internet connection, proxies, vpns, et cetera.

This error occurs every time when i try to load cookies and I'm sure that there is no problem with my internet connection because I'm using the same to load a 4k TV.
I'm so eager to checkout this tool but couldn't get my hand on it due to this issue any help on this would be appriciated

[2020-10-27 22:44] mxrch commented on #130
Hello @hawks-vision , is the program running slowly when opening the browser etc ?

[2020-10-27 23:41] mxrch commented on #70
@enclude I think you just timed out with the regex, but since we don't use this part of the code I close this issue.

[2020-10-27 23:41] #70 closed

[2020-10-28 21:22] #87 closed

[2020-10-29 07:25] lokeshbaranwal opened #131 "GHunt"

[2020-10-29 07:26] #131 closed

[2020-10-29 13:42] hawks-vision commented on #130
couldn't say so

[2020-10-29 20:27] AedenThomas opened #132 "print(f"[+] {len(data['matches'])} account found !")"
I'm getting this error every time

[2020-10-29 20:29] mxrch commented on #132
I don't see error in what you sent.
Can you show me your command with the full output ?

[2020-10-29 22:43] doodlewhale commented on #113
I was on win10. I have temporarily resolved this by running inside WSL 2. What is the proper command to run on win10 native?

[2020-10-29 22:51] mxrch commented on #113
Yes the term id is not a command of Windows, now you can just pull the image from dockerhub, see the readme.
Otherwise if you want to build manually you can just "docker build . " or something like that

[2020-10-30 06:58] AedenThomas commented on #132
This is what I'm getting
<img width="422" alt="Screen Shot 2020-10-30 at 9 54 25 AM" src="https://user-images.githubusercontent.com/18345370/97669990-5e090c80-1a96-11eb-8294-d2a2734f0d7e.png">

I can solve it only by running
`python3 hunt.py myemail@gmail.com `

[2020-10-31 02:10] mxrch commented on #132
Yes you must use it with Python 3.

[2020-10-31 02:10] #132 closed

[2020-10-31 13:23] niIeshkumar commented on #119
hey @mxrch, this issue is still present.
the first 2 emails ran successfully for me, but this ReadTimeout exception happens on the 3rd and 4th emails while checking Maps service

[2020-11-01 11:16] fishpitz opened #133 "help needed with "Please generate cookies and token first""
Hello,

I am an OSINT analyst and I am completely new to the GitHub community and to programming. Just started learning Python.

I have managed to auto-install the Ghunt container using DockerHub, but I have no idea how to add Chrome cookies/tokens to the app.

When I run "python hunt.py myemail@gmail.com" i get "please generate cookies and token first".

Can you please help me with a detailed exp

[2020-11-01 12:11] #133 closed

[2020-11-01 14:09] obarhleam opened #134 "Ghunt"

[2020-11-03 12:20] rishit-khandelwal commented on #122
Sorry I am late, but yeah it works with the latest commit I tried with

[2020-11-03 12:20] #122 closed

[2020-11-03 12:21] mxrch commented on #134
?

[2020-11-03 12:21] #134 closed

[2020-11-03 18:57] pmgcrypto commented on #66
Might I recommend using something to grab the cookies programmatically from Chrome?
https://github.com/n8henrie/pycookiecheat
I could send over a pull request sometime this weekend.

[2020-11-03 20:19] KState2020 opened #135 "Python 3.7"

[2020-11-04 07:34] Delisadmiller opened #136 "dumb"

[2020-11-04 10:45] #136 closed

[2020-11-04 11:22] #135 closed

[2020-11-04 13:59] G-FLBY opened #137 "Is this Legal?"
Is this Legal in the UK?
You talk about bypassing security measures. Is that legal? Do google allow this

[2020-11-04 14:21] mxrch commented on #137
It's legal.

[2020-11-04 14:21] #137 closed

[2020-11-04 15:21] #103 closed

[2020-11-04 21:21] #65 closed

[2020-11-05 16:27] MrMarble opened #139 "socket.gaierror: [Errno -2] Name or service not known"
Latest docker image as 5th of November (mxrch/ghunt@sha256:e8b38893b19f93d0a0fb8f7bb3ffd5123721d2150a96b7838770a73b15c92d7b)

The scripts still works, but shows this error:

[code]

[2020-11-05 18:49] Jackyhhh opened #140 "httpx.ConnectError: [Errno 0] Error"
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\httpx\_exceptions.py", line 326, in map_exceptions
    yield
  File "C:\ProgramData\Anaconda3\lib\site-packages\httpx\_client.py", line 866, in _send_single_request
    ext={"timeout": timeout.as_dict()},
  File "C:\ProgramData\Anaconda3\lib\site-packages\httpcore\_sync\http_proxy.py", line 125, in request
    me

[2020-11-05 20:14] #38 closed

[2020-11-06 00:55] Giphyn-nehboh-5qonhu opened #141 "@hos_144"

[2020-11-06 00:55] Giphyn-nehboh-5qonhu commented on #141
hos_144

[2020-11-06 01:15] Giphyn-nehboh-5qonhu commented on #141
https://t.me/Hos_144

[2020-11-06 01:23] mxrch commented on #141
Reported.

[2020-11-06 01:23] #141 closed

[2020-11-06 06:36] advaithm opened #142 "Firefox support"
selenium and selenium-wire both support Firefox and it would be useful if Ghunt supported Firefox as a option.
The chromedriver-autoinstaller has a counter part for gecko based browsers geckodriver-autoinstaller

[2020-11-06 12:04] gucci666420 opened #143 "Н"

[2020-11-06 13:37] mxrch commented on #142
I first used gecko driver but the chrome driver is so, so, so much fast, so I prefer not.

[2020-11-06 13:40] mxrch commented on #143
I reported your account to GitHub, and all the following who will open empty issues or issues with spam / ads.

[2020-11-06 13:40] #143 closed

[2020-11-06 13:49] mxrch commented on #140
@Jackyhhh is this happening everytime ?

[2020-11-06 13:49] mxrch commented on #140
Which Python version do you use ? On what operating system are you ?

[2020-11-06 13:50] #108 closed

[2020-11-06 13:51] mxrch commented on #117
I had the same issue with a new installation, that I resolved by installing Microsoft Visual C++ 14.0 and scipy manually, so I confirm this is the fix and I close this issue.

[2020-11-06 13:51] #117 closed

[2020-11-06 13:51] #93 closed

[2020-11-06 16:18] LIttleAncientForestKami opened #144 "This email address does not belong to a Google Account"
Hi there @mxrch and team and thank you for your work on this tool.

TL;DR: the tool reports that my cookies are fine and then it reports that given email doesn't belong to a google account (as per topic). I may be doing something wrong, but after encountering the tool I have done the following:

1. docker pull
2. ran hunt - learned about the cookies
3. got cookies from the account page (so I have

[2020-11-06 18:24] canada19l7 opened #145 "project"

[2020-11-06 21:13] #145 closed

[2020-11-07 02:33] pgilpin81 opened #146 "python google pip"
python -m pip install -r requirements.txt

[2020-11-07 02:45] #146 closed

[2020-11-07 03:39] naveen17797 opened #147 "Read me Enhancement: For Ubuntu versions with chromium, the chrome driver didnt work"
manually setting driver_path to `"/snap/bin/chromium.chromedriver" ` in code resolves the issue.

[2020-11-07 04:27] ccarlos-007 commented on #143
Hello There. I am new to  Github. This would be
Project and may have submitted  an empty issue or another beginners issue.
I have read instructions,  seen tutorials and still feel extremely
confused.  I welcome any tips,  instructions or tutorials you can provide.
Thnks

On Fri, Nov 6, 2020, 6:41 AM mxrch <notifications@github.com> wrote:

[2020-11-08 15:32] #94 closed

[2020-11-09 02:52] advaithm commented on #142
should it not be possible to have a switch to chose which browser you prefer to use

[2020-11-10 11:18] JingBh opened #149 "chromedriver_autoinstaller identified as a Chrome driver in virtualenv."
I created a `virtualenv` in the project directory and installed the dependencies in it:

[code]

Then I run the program:
[code]

It turns out the program searches for the driver in the project directory:
https://github.com/mxrch/GHunt/blob/493427c0d8f0f485622d16965c69a1abb16b2258/lib/utils.py#L89-L93

This should be fixed, or the program won't work in this situation.

[2020-11-10 15:13] mxrch commented on #144
@LIttleAncientForestKami  Are you sure your email address exists ? Try contactsqueezie@gmail.com for example

[2020-11-10 15:14] mxrch commented on #144
FYI : an email that looks obvious does not necesseraly exists. Like, google@gmail.com or trump@gmail.com.

[2020-11-10 23:36] maxenxe commented on #56
I had the same problem, disabled my antivirus and it fixed the problem.

[2020-11-11 02:11] Guigouu opened #150 "socket.timeout: The read operation timed out"
Sometimes the hunt.py script raises a timeout error.
Ghunt scripts are tested in docker and directly on the host with a correct internet connection.

![image](https://user-images.githubusercontent.com/18678887/98756412-caefa100-23ca-11eb-984f-3fda994c1512.png)

[2020-11-11 12:54] dirt3009 commented on #144
Same for me on the latest version, using without Docker on Windows 10

Tried on contactsqueezie@gmail.com

[2020-11-11 17:11] busyH4ck3r opened #151 "IndexError: list index out of range"
Thanks to the developers even though I can detect on some other google accounts that the program return the error when trying to scrape or gather some youtube information.
 python3 hunt.py someonesomebody@gmail.com
[+] 1 account found !

------------------------------

Name: someone somebody

Last profile edit : 2020/11/11 14:02:33 (UTC)

Email :  someonesomebody@gmail.com
Google ID : GOOGLE ID

H

[2020-11-12 14:58] mnpenchev opened #152 "IndexError: list index out of range"
Found this one:

Google Maps : https://www.google.com/maps/contrib/**********/reviews
[+] 215 reviews found !
Traceback (most recent call last):212)
  File "hunt.py", line 156, in <module>
    reviews = gmaps.scrape(gaiaID, client, cookies, config, config.headers, config.regexs["review_loc_by_id"], config.headless)
  File "**********", line 114, in scrape
    location = re.compile(regex_rev_by_id.

[2020-11-12 15:05] #152 closed

[2020-11-13 13:21] mxrch commented on #144
@dirt3009
![image](https://user-images.githubusercontent.com/17338428/99076492-8414cd80-25bb-11eb-8a47-c96a470daae6.png)

It works for me so I don't know why you have this result.

[2020-11-13 18:20] dOped-lab opened #154 "Ghunt"

[2020-11-13 19:14] LIttleAncientForestKami commented on #144
Hi there @mxrch and thank you for your answers!

To eliminate the problems with environment I used Docker and went with your suggestion:

[code]

I am certain that the address I used in the opening post exists, but it rendered same result. Anything I should do to debug this?

[2020-11-15 01:13] #154 closed

[2020-11-16 06:09] Andrew-Chen-Wang commented on #79
@mxrch You can use the following syntax for GitHub issues rather than emoticons:

[code]

Hope that helps.

[2020-11-16 09:34] Mikosikora commented on #151
the same

[2020-11-16 09:37] Bapt5 opened #155 "UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe9 in position 15: invalid continuation byte"
![image](https://user-images.githubusercontent.com/63651713/99236382-6af86080-27f7-11eb-9dbe-4ad520aa357a.png)
I have this problem when I put the cookie. The program give me my Google Docs token but there is a error for the second token. Can someone help me please?

[2020-11-17 08:28] lusifer123 commented on #140
I am facing Same issue... I am using Kali 2020 os. And python 3.8.4 version.. whenever i type the values of
3PSID ==>
APISID ==>
SAPISID ==>
HSID ==>

It's shows error..

[2020-11-17 08:30] lusifer123 commented on #140
Yes everytime

[2020-11-17 12:06] ajtazer opened #156 "Brave Browser Support"
As far as i know, Brave browser is Modified Chrome Browser itself so. it wont be too mush different for This GHunt script to run its chromedriver on Brave.
i know a little Basic Python Selenium
and when i was turning my chrome program to brave i did a little change in webdriver options and it worked

[code]

i think its some error related to brave & Chromedriver only, please fix this or gimme a so

[2020-11-17 15:40] chayasorir opened #157 "GHUNT"

[2020-11-17 23:34] #157 closed

[2020-11-18 10:19] alexanderajju opened #158 "This email address does not belong to a Google Account."
C:\Users\Downloads\GHunt>python hunt.py  c******15255@gmail.com

     .d8888b.  888    888                   888
    d88P  Y88b 888    888                   888
    888    888 888    888                   888
    888        8888888888 888  888 88888b.  888888
    888  88888 888    888 888  888 888 "88b 888
    888    888 888    888 888  888 888  888 888
    Y88b  d88P 888    888 Y88b 888 888  888

[2020-11-18 14:26] XMattGatt1488X opened #159 "G Hunt"

[2020-11-20 12:37] mxrch commented on #158
Try regenerating your cookie and don't use your google account while using GHunt, it may invalidate your cookies.

[2020-11-20 12:37] #158 closed

[2020-11-20 12:37] #159 closed

[2020-11-20 12:39] mxrch commented on #151
Hello, I would need an email address to debug that.

[2020-11-20 13:47] busyH4ck3r commented on #151
hi mxrch, do you need the email that I parsed during the runtime?

[2020-11-21 14:50] progcode commented on #151
i have same error with any! email

[2020-11-21 18:02] target111 commented on #151
Same issue here, only with a slightly different error trace:
[code]

[2020-11-23 04:25] kiiroitorii opened #160 "last profile edit date"
It does always show last edit date as exactly 1 month ago from the time being (in case if editing was done later, it seems to be correct) no matter what cookies were used. Tried on several accounts. Running on Win10 64bit.

[2020-11-23 04:33] kiiroitorii commented on #160
![image](https://user-images.githubusercontent.com/50533414/99929363-09d40e00-2d5e-11eb-89e6-f0e4a8c87ce3.png)
Screenshot for reference

[2020-11-23 14:43] #130 closed

[2020-11-23 23:35] #113 closed

[2020-11-24 02:46] Samaxe051 opened #161 "SSL: CERTIFICATE_VERIFY_FAILED"
Good Evening-
Just installed ghunt and when I go to pull and install the cookies, I get the following output error:

$ python3 check_and_gen.py
Traceback (most recent call last):I'm downloading and installing it for you...
  File "/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/urllib/request.py", line 1342, in do_open
    h.request(req.get_method(), req.selector, req.data, headers

[2020-11-24 15:17] tobi437a opened #162 "Error when running check_and_gen.py"
When i try and run python3 check_and_gen.py i get this error.

Traceback (most recent call last):I'm downloading and installing it for you...
  File "check_and_gen.py", line 102, in <module>
    driverpath        = get_driverpath()
  File "/home/tobi437a/GHunt/lib/utils.py", line 99, in get_driverpath
    path = chromedriver_autoinstaller.install(cwd=True)
  File "/home/tobi437a/.local/lib/python3

[2020-11-25 14:36] #119 closed

[2020-11-25 14:39] mxrch commented on #162
Hello @tobi437a, try installing Google Chrome and retry.

[2020-11-25 14:42] mxrch commented on #160
Hello @kiiroitorii, this is normal.
The last profile edit also accures when the target accept some new Google conditions / terms, or not, or just Google modifying some things.
At least it is an indicator of activity.

[2020-11-25 14:42] #160 closed

[2020-11-25 16:07] tobi437a commented on #162
I installed Google Chrome, tried again and got this

Traceback (most recent call last):
  File "/home/tobi437a/.local/lib/python3.8/site-packages/selenium/webdriver/common/service.py", line 72, in start
    self.process = subprocess.Popen(cmd, env=self.env,
  File "/usr/lib/python3.8/subprocess.py", line 854, in __init__
    self._execute_child(args, executable, preexec_fn, close_fds,
  File "/usr

[2020-11-25 19:19] bizibabe opened #163 "TypeError: quote_from_bytes() expected bytes : hunt.py"
Hi i have this error message on most accounts when i execute hunt.py

[+] 1 account found !

------------------------------

Couldn't find name
[-] Couldn't find name

[-] Default profile picture

Last profile edit : 2020/10/26 19:12:31 (UTC)

Email : teampaaradox@gmail.com
Google ID : 102722904180085833712

Hangouts Bot : No

[+] Activated Google services :
- Maps
Traceback (most recent call last

[2020-11-25 20:33] mxrch commented on #163
Hello, I have seen this today too.
Google now removes the name from Google Maps if the target has 0 reviews.
I'll see if we can bypass it

[2020-11-25 20:34] mxrch commented on #163
In the meantime I will deploy a patch to avoid the crash

[2020-11-25 20:48] mxrch commented on #151
@target111 regenerate your cookies.
It means Google think you're doing an XSS attack because your cookies doesn't belongs anymore to your XSRF token.

@busyH4ck3r yes if possible

[2020-11-25 20:48] mxrch commented on #163
Patched crash in commit https://github.com/mxrch/GHunt/commit/8f95372a49754b5e94936ff0b50340e6a914a1db

[2020-11-25 20:49] mxrch commented on #162
@tobi437a be sure to do what's in the readme, you didn't installed the requirements.

[2020-11-25 20:49] #162 closed

[2020-11-25 20:51] mxrch commented on #155
I know it's been a long time you have this issue but on hundreds of users you are the only one to have this, so I can't help you, sorry.

[2020-11-25 21:14] target111 commented on #151
Thanks, regenerating cookies worked!

[2020-11-25 21:26] Bapt5 commented on #155
@mxrch So I can't use your program and I don't know why.

[2020-11-26 07:29] DT082736 commented on #163
I have also encountered this issue please fix it as soon as possible

thank you

[2020-11-26 11:00] mxrch commented on #163
Do a git pull.

[2020-11-26 11:00] #163 closed

[2020-11-26 16:39] ashan890 opened #164 "TypeError: quote_from_bytes() expected bytes"
[+] Activated Google services :
- Kaboo
- Maps
Traceback (most recent call last):
  File "C:\Users\Hp\Desktop\GHunt\hunt.py", line 132, in <module>
    data = ytb.get_channels(client, name, config.data_path,
  File "C:\Users\Hp\Desktop\GHunt\lib\youtube.py", line 86, in get_channels
    from_youtube = youtube_channel_search(client, query)
  File "C:\Users\Hp\Desktop\GHunt\lib\youtube.py", line 14,

[2020-11-27 06:35] #142 closed

[2020-11-27 08:12] ashan890 commented on #164
Anyone have a solution for this ?🤔

[2020-11-27 08:19] rishit-khandelwal commented on #150
This also happened with me.
![image](https://user-images.githubusercontent.com/65018379/100426712-56e61600-30b7-11eb-920f-07aedd1e7117.png)

[2020-11-27 12:01] mxrch commented on #164
@ashan890 duplicate of https://github.com/mxrch/GHunt/issues/163.

[2020-11-27 12:01] #164 closed

[2020-11-27 12:03] mxrch commented on #144
@LIttleAncientForestKami try to regenerate your cookies, since this is the only difference between our installations.

[2020-11-27 12:04] #66 closed

[2020-11-28 12:16] bizibabe opened #165 "Youtube account - google patch"
Hello since the last Google patch, we can no longer find a Youtube account.

[2020-11-28 12:22] mxrch commented on #165
You can, you just need the name that is shown if the person has at least one review on GMaps.
I'll see if I can find a bypass for the name.

[2020-11-28 12:22] #165 closed

[2020-11-28 18:05] kiiroitorii commented on #160
I really doubt this is normal. 1) How comes several users accept the conditions or whatsoever at the same exact second? I've put here 2 profiles for example but in fact, any profile which has activities beyond month duration will be shown as the one above.
On my understanding it just doesn't show any date longer than 1 month, in case if i'm wrong, could you show such an example please? Thank you.

[2020-11-29 18:35] busyH4ck3r commented on #151
@target111
let me regenerate cookies too because on other emails it worked well

[2020-11-30 17:13] #139 closed

[2020-12-01 02:04] user333222 opened #166 "ModuleNotFoundError: No module named 'lib.utils'"
I have pyhton3.7, Kali Linux Debian 9 46-bit
Google chrome installed
i've ran the requires file (python3 -m pip install -r requirements.txt)
I run the command
python3 check_and_gen.py
or
sudo python3 check_and_gen.py

Error:
Traceback (most recent call last):
  File "check_and_gen.py", line 13, in <module>
    from lib.utils import *
ModuleNotFoundError: No module named 'lib.utils'

Get this error

[2020-12-01 03:48] Navaxrro opened #167 "Issue when running hunt.py"
Get this error when running
`python hunt.py email@gmail.com
`

Running **python 3.7.9**

[code]

would appreciate if any of you guys could tell me If I am doing something wrong

you have a great day

[2020-12-01 03:50] Navaxrro commented on #167
just checked cookies with
`check_and_gen.py`

and everything seems fine, just to check that out

[2020-12-01 15:25] #167 closed

[2020-12-01 15:26] Navaxrro commented on #167
solved it, Cookie related

[2020-12-02 02:47] ddonnieddark0 opened #168 "Error when input tokens"
Hi

i receive this error when i input the 4 tokens:

[+] The cookies seems valid !
Generating the Google Docs and Hangouts token...

Google Docs Token => AC4w5Vj_IbV3gz4_E9AtDCN2rhWBgtjkOQ:1606876862806
Traceback (most recent call last):
  File "check_and_gen.py", line 159, in <module>
    auth_token, hangouts_token = get_hangouts_tokens(cookies, driverpath)
  File "check_and_gen.py", line 68, in

[2020-12-03 17:04] PredatorDev904 opened #169 "Function improve"
Create a function for getting target password and geolocation.

[2020-12-03 17:30] mxrch commented on #169
We can't get exact geolocation and password of an user, and hopefully.

[2020-12-03 17:30] #169 closed

[2020-12-03 20:45] meytrix183 commented on #144
Hi
I am having the same issue.
Tried with cookies of two accounts and tried with the docker version and the manual version.

[2020-12-04 00:34] mxrch commented on #166
Hi @user333222, can you add a __init__.py file in the lib/ directory and retry ?

[2020-12-04 01:00] user333222 commented on #166
@mxrch It worked, why did that happen? That makes no sense to me.

[2020-12-04 07:01] Zer0C00lness commented on #144
And in the end when your trying or Running the program is that when your problem occurs? Or is it when your commanding a task and your task is not being performed then?

€€/\/\@¡\¡’-|?0

[2020-12-04 12:44] mxrch opened #170 ""This email address does not belong to a Google Account""
Google changed something at this endpoint, this bug is known and I'll look for a fix.
Please don't open new issues related to this.

[2020-12-04 13:23] cyberwr3nch commented on #170
I faced this issue right now !

[2020-12-04 13:24] cyberwr3nch commented on #170
![image](https://user-images.githubusercontent.com/55705969/101168849-10b62700-3662-11eb-9a61-2cf020bc309a.png)

[2020-12-04 14:04] mxrch commented on #170
Seems like the endpoint didn't changed but Google require two new cookies : the SSID and the SID.
I'll add them in the check_and_gen.py

[2020-12-04 14:27] mxrch commented on #170
I remove the __Secure-3PSID cookie requirement because it doesn't change anything to the request anymore, and the APISID is required but you can put anything in it like a "a" and Google will accept it 🤷‍♂️
I'll let the APISID as a requirement to be sure

[2020-12-04 14:32] mxrch commented on #170
Alright the fix is pushed => https://github.com/mxrch/GHunt/commit/6a83a418a353a2deb869efb1e7546534c5340295
You need to relaunch the check_and_gen.py to add the SSID & SID cookies in it.
@cyberwr3nch can you confirm that it works now ?

[2020-12-04 16:10] mxrch commented on #166
Because sometimes Python does not recognize it as a module if there isn't this file.
I'll push a fix.

[2020-12-04 16:11] Mathostx opened #171 "Chromium Driver Version 83?"
Installs fine. Grabbed cookies and ran...

  File "/usr/lib/python3/dist-packages/selenium/webdriver/chrome/webdriver.py", line 95, in __init__
    RemoteWebDriver.__init__(
  File "/usr/lib/python3/dist-packages/selenium/webdriver/remote/webdriver.py", line 152, in __init__
    self.start_session(capabilities, browser_profile)
  File "/usr/lib/python3/dist-packages/selenium/webdriver/remote/webdr

[2020-12-04 16:11] #166 closed

[2020-12-04 16:15] mxrch commented on #171
Locate your older chromedriver and delete it.
I think it search for chromedrivers and find an older first, because it should takes the chromedriver downloaded by the auto-installer first.

In linux :
sudo updatedb
locate chromedriver

[2020-12-04 16:15] #171 closed

[2020-12-05 04:04] cyberwr3nch commented on #170
@mxrch Made changes in the docker too ?

[2020-12-05 11:05] #170 closed

[2020-12-05 19:47] Mathostx commented on #171
I tried to locate and erase. Did not work. Any Suggestions?

[2020-12-09 07:43] ayusg0852 opened #172 "cmd not working"

[2020-12-09 07:46] ayusg0852 commented on #172
python3 -m pip install -r requirements.txt
thise cmd not working plz  help me
 i am runiing theise cmd dan its say
modual not found

[2020-12-09 07:46] #172 closed

[2020-12-09 09:53] meytrix183 commented on #144
I have the same problem reported by @LIttleAncientForestKami , "This email address does not belong to a Google Account" and i know the account exists because its an account of mine.

[2020-12-10 17:12] jcsimmons1 commented on #144
Hello, great tool but I am getting the same issue. I have tried clearing out the cookies and regenerating them, etc. Worked fine until recently. Oddly enough, another online tool I use https://tools.epieos.com/google-account.php is having the same issue. I am trying my own gmail address in GHunt and this online too and I get "This email address does not belong to a Google Account". Thanks!

[2020-12-12 10:29] #140 closed

[2020-12-15 10:27] hugofloss commented on #149
Same problem here on MacOS Big Sur 11.1. Also using a virtualenv to install the requirements.

[2020-12-16 10:06] Leacheck opened #173 "httpx error"
Hi,

pip install httpx in any version (0.16, 0.15, etc) and installation via https://github.com/encode/httpx.git do not work.

Would you have a solution please?

Thanks

[2020-12-20 19:58] UnderdogCadet opened #176 "This email address does not belong to a Google Account"
Sorry, but nope. i just did every step that mentioned in this topic in which this issue was considered close, but still the same, maybe im loosing some step, but... i change cookies in check_and_gen.py, even i added new cookies from others accounts, i was checking my very own google accounts/gmails and still...

"This email address does not belong to a Google Account"

[2020-12-20 20:00] UnderdogCadet commented on #176
i just forgot to mention that this is a new issue for me since i used the script before and it worked just fine... any help is wellcome.

[2020-12-20 21:44] #155 closed

[2020-12-22 10:10] #150 closed

[2020-12-22 13:27] #79 closed

[2020-12-22 13:27] #161 closed

[2020-12-22 13:27] #147 closed

[2020-12-24 19:38] #151 closed

[2020-12-25 14:05] rodrigobercini commented on #144
I'm having the same issue on Linux via Docker install. I'm 100% sure that the account exists.

[2020-12-25 18:38] b19e commented on #144
I also have the same issue on ubuntu 20.04, via docker! Seem's to be random, I also tried using cookies from two different accounts. And a few different Gmail accounts, that belong to me.  " This email address does not belong to a Google Account "

[2020-12-25 19:00] jcsimmons1 commented on #144
Hey all - I had to reinstall it - required cookies were changed. It works fine now.

[2020-12-26 09:43] Kh4l1l-C0d3 commented on #27
Hi !
Thank you for helping me,
Yes, I fixed the problem,
Sorry for responding late

[2020-12-26 17:13] permion opened #177 "Selenium timeout error"
It gives "[!] Selenium TimeoutException has occured. Please check your internet connection, proxies, vpns, et cetera." error when i write cookies. Please help me.

[2020-12-27 05:17] #168 closed

[2020-12-30 14:16] afiqnazeer opened #178 "i am getting this issue, even when i am on my google account instection cookies page."
*Trace Back*

- [ ]
![Screenshot (1)](https://user-images.githubusercontent.com/62737721/103356687-75389a80-4ad7-11eb-86b1-69901998d408.png)
 _**__Traceback (most recent call last):I'm downloading and installing it for you...

  File "/home/afiqahmad/GHunt/check_and_gen.py", line 102, in <module>
    driverpath        = get_driverpath()
  File "/home/afiqahmad/GHunt/lib/utils.py", line 101, in get

[2020-12-31 08:37] mrme44 commented on #144
Using the manual installation, I had to open up a new terminal after running the check_and_gen.py script.

[2020-12-31 09:12] agiix commented on #149
Same issue on MacOS Catalina 10.15.7 using virtualenv.

[2020-12-31 13:58] thnglee opened #179 "Permission Denied"
error: [Errno 13] Permission denied: 'C:\\Python39\\Lib\\site-packages\\__pycache__\\termcolor.cpython-39.pyc.1460863157680
How can I solve this problem
Running setup.py install for termcolor ... error
By some reasons termcolor can not be set up, plz tell me why cause I am new to this

[2020-12-31 16:29] #179 closed

[2020-12-31 16:44] thnglee opened #180 "check_and_gen: list index out of range"
Traceback (most recent call last):I'm downloading and installing it for you...
  File "C:\Users\HP\GHunt\check_and_gen.py", line 102, in <module>
    driverpath        = get_driverpath()
  File "C:\Users\HP\GHunt\lib\utils.py", line 101, in get_driverpath
    path = chromedriver_autoinstaller.install(cwd=True)
  File "C:\Users\HP\AppData\Roaming\Python\Python39\site-packages\chromedriver_autoinsta

[2020-12-31 16:53] #180 closed

[2020-12-31 16:59] OutisNoMore commented on #178
Although I am not sure exactly what is causing the error, it can be fixed if you manually install the chromedriver from here: "https://chromedriver.chromium.org/". The chromedriver needs to be installed/extracted into the GHunt folder to work properly.

[2021-01-01 01:36] darthsnarkey opened #181 "Cannot run check_and_gen.py"
when I run $python check_and_gen.py it asks for all the cookies and is happy with them, it generates the google docs token but then crashes on the hangouts token:

Traceback (most recent call last):
  File "check_and_gen.py", line 159, in <module>
    auth_token, hangouts_token = get_hangouts_tokens(cookies, driverpath)
  File "check_and_gen.py", line 80, in get_hangouts_tokens
    driver.get("htt

[2021-01-01 03:08] Edith-panda commented on #173
hey! Leacheck this worked for me using pip
check for latest versions for pip and python and others requirements too
pip install httpx
Collecting httpx
  Downloading httpx-0.16.1-py3-none-any.whl (65 kB)
     |████████████████████████████████| 65 kB 145 kB/s
Requirement already satisfied: certifi in c:\users\yasha\appdata\local\programs\python\python39\lib\site-packages (from httpx) (2020.6.20)
Col

[2021-01-01 16:26] n0101 opened #182 "socket.gaierror: [Errno 11004] getaddrinfo failed at making requestpeople/me/blockedPeople request"
Running on Windows, Python 3.8.6.

[code]

I'm able to run python hunt.py some@gmail.com and it generates output but some of the data returned is incorrect.  I tested on an account with Google Maps Reviews and a Public Calendar with events but it returns "No reviews" and "No Google Public Calendar found".  Checked my data.txt and all fields have values.

[code]

[2021-01-01 18:08] #156 closed

[2021-01-02 05:24] byhardest opened #183 "string index out of range"
any idea of what could be?

After displaying activated google services, last one was - Maps

Traceback (most recent call last):
  File "hunt.py", line 132, in <module>
    config.gdocs_public_doc)
  File "/home/hardest/OSINT/ghunt/lib/youtube.py", line 87, in get_channels
    from_gdocs = youtube_channel_search_gdocs(client, query, data_path, gdocs_public_doc)
  File "/home/hardest/OSINT/ghunt/lib

[2021-01-02 07:05] greatkourosh opened #184 "IndexError: list index out of range error while Loading Map Data"
On Windows 10 Pro x64 20H2 (19042.685)

PS C:\WINDOWS\system32> docker run -v ghunt-resources:/usr/src/app/resources -ti mxrch/ghunt hunt.py  [something correct]@gmail.com

     .d8888b.  888    888                   888
    d88P  Y88b 888    888                   888
    888    888 888    888                   888
    888        8888888888 888  888 88888b.  888888
    888  88888 888    888 888  8

[2021-01-02 10:36] dEfAuLtEr-eng opened #185 "Ghunt"

[2021-01-02 11:43] Zer0C00lness commented on #184
![image](https://user-images.githubusercontent.com/74936200/103456614-c1e1c880-4cc5-11eb-99b1-512ce0b4c6d4.jpeg)

[2021-01-02 11:43] Zer0C00lness commented on #184
You'll need to find a couple apps specific for this use

[2021-01-02 11:49] lightghost-stack commented on #184
😁

[2021-01-02 12:09] Zer0C00lness commented on #184
I'm trying to figure usage of all the great things we do using. A single button iPhone

[2021-01-02 12:09] Zer0C00lness commented on #184
As you should  as you should

[2021-01-02 12:10] Zer0C00lness commented on #184
You're using a computer I have a phone bro that's what I'm trying to figure hear how everything you can click click click click click onto this one fucking button bro￼

[2021-01-02 12:10] Zer0C00lness commented on #184
Man n then half you dudes just wanna be funny

[2021-01-02 12:16] Zer0C00lness commented on #184
- [ ] Fuck I forgot![Uploading 103457140...]

[2021-01-02 12:19] Zer0C00lness commented on #184
Index out of range: index error

[2021-01-02 17:17] #185 closed

[2021-01-02 19:45] ThaaoBlues opened #186 "HTTPX Attribute Error : 'NoneType' object has no attribute 'encode'"
I have successfully registered my cookies and installed pip requirements.txt but when i run hunt.py like behind, i get this error :
![image](https://user-images.githubusercontent.com/40574784/103465283-5be35880-4d3a-11eb-9cb3-bdd6c86548f2.png)
I don't know if I missed one argument or if this is a bug. I even tried to initialize each variables user in `is_email_google_account()` with an empty strin

[2021-01-02 19:59] Suzlapulfo commented on #186
Same error here.

[2021-01-02 20:01] kingpin24 commented on #149
Same

[2021-01-03 01:03] CorentinSotoca commented on #186
Same error too

[2021-01-03 02:57] jtothef commented on #186
Looks like a new version of selenium-wire was released today does not get Authorization Token properly with the way check_and_gen.py is currently written.

Quick fix is to use older version of selenium-wire
pip install selenium-wire==2.1.2

[2021-01-03 03:00] mxrch commented on #186
I'll dig into this when I have time to update the check_and_gen.py, thanks for this quick fix.
I'll hardcode the selenium-wire version until I make the required changes !

Just before it, can someone validate the quick fix of @jtothef ?

[2021-01-03 03:07] mxrch commented on #184
@greatkourosh can I have the target email you're trying with ? Here or in private (see my bio readme) ?
It will help with the debug.
Otherwise, you can add a `print(source)` just before the line `data = source.split(';window.APP_INITIALIZATION_STATE=')[1].split(';window.APP_FLAGS')[0].replace("\", "")` and put it on pastebin

[2021-01-03 03:57] nacht42 commented on #186
@mxrch hello,I have the same issue, and I validated that quick fix:

when I installed selenium-wire, the 2.1.2 version, I got `Authorization Token`, and then ghunt worked well 👍

[2021-01-03 04:34] dannyazure commented on #184
Needmore11.11angels@icloud.comOn Jan 2, 2021 9:07 PM, mxrch <notifications@github.com> wrote:
@greatkourosh can I have the target email you're trying with ? Here or in private (see my bio readme) ?
It will help with the debug.
Otherwise, you can add a print(source) just before the line data = source.split(';window.APP_INITIALIZATION_STATE=')[1].split(';window.APP_FLAGS')[0].replace("\", "") in lib

[2021-01-03 07:01] greatkourosh commented on #184
I tried on khezmaster@gmail.com

[2021-01-03 13:45] mxrch commented on #186
Temporary fix pushed in https://github.com/mxrch/GHunt/commit/65fb657f221a39eddecf10d8858ee90a05e76364
I let this issue opened a little bit so new users see it easily

[2021-01-03 14:11] richdev135 opened #187 "AttributeError: 'NoneType' object has no attribute 'encode'"
I am using Python 3.8.5.

Cookies were verified correct by check_and_gen.py

Chrome Version 87.0.4280.66 (Official Build) (64-bit)

Traceback (most recent call last):
  File "hunt.py", line 50, in <module>
    data = is_email_google_account(client, auth, cookies, email,
  File "/home/rich/dev/GHunt-master/lib/utils.py", line 42, in is_email_google_account
    req = httpx_client.post(host + url, da

[2021-01-03 14:18] luisfelipesdn12 commented on #187
I'm having the exactly same issue :/

[2021-01-03 14:19] luisfelipesdn12 commented on #187
I think this is a duplicate of #186

[2021-01-03 14:38] mxrch commented on #187
Yes this is a duplicate of #186, do a git pull, a pip install -r requirements.txt and relaunch the check_and_gen.py.

[2021-01-03 14:38] #187 closed

[2021-01-03 23:26] fortyxseven opened #188 "SyntaxError: invalid syntax"
so when i write the command python hunt.py -----@gmail.com this error appear

  File "hunt.py", line 58
    print(f"[+] {len(data['matches'])} account found !")
                                                                              ^
SyntaxError: invalid syntax

HOW CAN I FIX THIS CODE ?

[2021-01-03 23:53] BahaaIbrahim3024 commented on #188
I think you have an old version of python. try upgrading to the latest version of python. F-string literals have been added to python since python 3.6.
or use ".format({len(data['matches'])}) " instead of "f" .
this answer is from : https://stackoverflow.com/questions/50401632/f-strings-giving-syntaxerror

[2021-01-04 01:21] mxrch commented on #188
Thanks for answering @BahaaIbrahim3024.
@fortyxseven first hello, no need to scream in the issues, and you can try to be polite too. 🙃
Indeed, you seems to be using Python 2, while the README specify the need of Python 3.7+.

[2021-01-04 01:21] #188 closed

[2021-01-04 01:26] mxrch commented on #184
![image](https://user-images.githubusercontent.com/17338428/103493834-f2e00b80-4e33-11eb-83e2-03531fdfd04d.png)

@greatkourosh it's working pretty well for me, so I don't know why do you have this.
If the issue persist, please produce a debug output and put it on a pastebin.
Otherwise, let me know here so I can close this issue.

[2021-01-04 06:41] phanthuthao opened #189 "Seems like the cookies are invalid, try regenerating them"
i can not get cookie. i had trying to many email. Pls help me!

[2021-01-04 15:21] Rtizer-9 opened #190 "Chromedriver installation error"
When I run `python3 check_and_gen.py`
I get `I can't find the chromedriver.
I installed it in "None" but it must be in the GHunt directory or PATH, you should move it here.`

I tried copying folder named selenium* etc also tried opening check_and_gen.py file to find out the default installation directory but was unable to come to a conclusion.

Earlier versions used to work perfectly but the lates

[2021-01-04 19:28] fortyxseven commented on #188
Thanks for the help, and @mxrch I didn’t scream, I was just trying to get attention x') . HAVE A NICE DAY !

[2021-01-05 08:26] greatkourosh commented on #184
It works pretty well this time. I don't know how. :D

[2021-01-05 08:26] #184 closed

[2021-01-05 13:31] iocomxda opened #192 "(Question) Is it possibile to do a reverse search? Youtube channel to Google ID/E-mail."
Hi,

Is it possible to retrieve Google's ID and/or E-mail from a youtube channel link like

https://www.youtube.com/channel/XXXXX-XXXX-XXXX

If yes, could this be added in GHunt?

Sincerely.
iocomxda

[2021-01-05 13:36] mahirbd commented on #192
Following

[2021-01-05 14:30] mxrch commented on #192
Hello, for questions I opened a Github "Discussions" here : https://github.com/mxrch/GHunt/discussions
But nope you can't.

[2021-01-05 14:30] #192 closed

[2021-01-06 20:35] hunven opened #193 "ModuleNotFoundError: No module named 'httpx'"
I ran "pip install httpx" and made sure I had the newest version of pip. Not sure where to go from here because I keep getting the same error when I run check and gen.

[2021-01-07 09:02] 13827790799SJ commented on #193
maybe you can use "pip install --upgrade pip" to update python to the
newest version ,then maybe you can use "pip install  httpx"

hunven <notifications@github.com> 于2021年1月7日周四 上午4:35写道：

[2021-01-08 22:24] mxrch commented on #193
Install it with Python 3.
By default, pip use Python 2, try python3 -m pip install -r requirements.txt

[2021-01-08 22:24] #193 closed

[2021-01-08 22:24] #189 closed

[2021-01-10 08:00] KB-Q opened #195 "check_and_gen.py unable to install chromedriver"
When I run: `python3 check_and_gen.py`, I get this error:

        `Traceback (most recent call last):I'm downloading and installing it for you...
        File "check_and_gen.py", line 102, in <module>
        driverpath        = get_driverpath()
        File "/home/karthik_balaji/GHunt/lib/utils.py", line 101, in get_driverpath
        path = chromedriver_autoinstaller.install(cwd=True)
        F

[2021-01-11 17:05] #186 closed

[2021-01-11 20:52] syedshaaf opened #196 "Ghunt"

[2021-01-12 00:39] mxrch commented on #183
Hi @byhardest, does the https://github.com/mxrch/GHunt/commit/131ea721b94f7173309881efbf3e3013832cb53b commit fixes your issue ?

[2021-01-12 18:30] n0101 commented on #182
is this somehow related to issue #56 ?

[2021-01-14 00:49] #196 closed

[2021-01-14 00:51] mxrch commented on #182
Nope, it was a problem with the Selenium waiting, here I don't know, you maybe have a proxy / VPN or something broken ☹️

[2021-01-14 00:52] #183 closed

[2021-01-14 00:53] #173 closed

[2021-01-14 02:20] dontfckwithcatz opened #197 "Is GHunt still working?"
Hey there..

Need help at the check_and_gen.py step. I'm getting the error below:

Google Docs Token => AC4w5VhzsQZ_esfKnGcYSW4ZEqbycKC36w:1610590409216
Traceback (most recent call last):
  File "check_and_gen.py", line 159, in <module>
    auth_token, hangouts_token = get_hangouts_tokens(cookies, driverpath)
  File "check_and_gen.py", line 68, in get_hangouts_tokens
    driver = webdriver.Chrome(

[2021-01-14 14:59] clyde64pobo commented on #197
Can you break all that down in English for me?

On Wed, Jan 13, 2021, 8:20 PM dontfckwithcatz <notifications@github.com>
wrote:

[2021-01-16 20:16] saduqur80 commented on #197
Submitting change

[2021-01-16 20:17] saduqur80 commented on #197
Please manage and support

On Thu, 14 Jan 2021, 9:00 pm clyde64pobo, <notifications@github.com> wrote:

[2021-01-17 23:19] mxrch commented on #197
Hello, be sure to have the latest version of GHunt by doing `git pull` in the GHunt folder.
And to answer you, yes it still working great.

[2021-01-18 14:27] #149 closed

[2021-01-19 12:35] adler234 opened #198 "cant search for email"
while entering email its showing like __"this email address does not belong to a Google Account"
actually i entered my own email address
     is this toool  still working

[2021-01-19 13:33] nguyen151095 opened #199 "Error check_and_gen.py"
Error making requestmepage...
Traceback (most recent call last):
  File "/usr/local/lib/python3.8/dist-packages/seleniumwire/proxy/proxy2.py", line 92, in proxy_request
    res = conn.getresponse()
  File "/usr/lib/python3.8/http/client.py", line 1347, in getresponse
    response.begin()
  File "/usr/lib/python3.8/http/client.py", line 307, in begin
    version, status, reason = self._read_status(

[2021-01-21 04:09] dontfckwithcatz commented on #197
hi, tried git pull and it states that i'm already up to date. but still getting the same error after i've put in all the correct browser cookies:

[+] The cookies seems valid !
Generating the Google Docs and Hangouts token...

Google Docs Token => AC4w5ViIG7BOHq5sj5hmDNOHEiA6zTUsxQ:1611201824960
Traceback (most recent call last):
  File "check_and_gen.py", line 159, in <module>
    auth_token, han

[2021-01-21 09:29] saduqur80 commented on #197
Ok, I'll take a look.

On Thu, 21 Jan 2021, 10:09 am dontfckwithcatz, <notifications@github.com>
wrote:

[2021-01-23 07:39] TheDeathStar3 opened #200 "Error check_and_gen.py"
I got this when I try to run the check_and_gen.py file I got this:

Traceback (most recent call last):
  File "C:\Users\****\Desktop\GHunt-master\check_and_gen.py", line 8, in <module>
    import httpx
ModuleNotFoundError: No module named 'httpx'

am I doing something wrong?

[2021-01-23 08:39] mxrch commented on #200
You didn't installed the requierements with python 3, see the Readme.

[2021-01-23 08:39] #200 closed

[2021-01-23 23:40] nashy14 commented on #177
I have this same issue. I just added Ghunt to my system today. (used it before on another machine) While adding the cookies to the check_and_gen.py it accepts all of the cookies and starts but at the end it gives this error. rerun check_gen and you have to add the cookies again...and get the same result. I checked the most current updated requirements.txt and everything is as it should be accordin

[2021-01-23 23:44] LevidAOL commented on #177
I appreciate you keeping me in the loop. I'm sending you the gift of luck
as a show of appreciation.

Take Care
Jesse Elizondo
Devil God Almighty
SILVER

On Sat, Jan 23, 2021, 5:40 PM nashy14 <notifications@github.com> wrote:

[2021-01-24 09:44] saduqur80 commented on #177
Git diff

[2021-01-24 09:54] saduqur80 commented on #177
Contributing

[2021-01-24 09:55] saduqur80 commented on #177
Docs

[2021-01-24 18:14] EmileDiaz opened #201 "Please generate cookies and tokens first."
Newbie using this and getting a "Please generate cookies and tokens first."

I even see the instructions but cannot locate the "Dev Tools" or the "Storage Tab" under my Gmail account on Chrome Browser.

And if I do find that info, what exactly do I do with the cookies?

Can anyone help?

Thanks

ED

[2021-01-26 10:21] mxrch commented on #198
Yes, I tested it now, it stills works.

[2021-01-26 10:21] #198 closed

[2021-01-26 10:23] mxrch commented on #197
@dontfckwithcatz try uninstalling seleniumwire and reinstalling it with the requirements.txt.

[2021-01-26 10:24] mxrch commented on #199
Either you have a bad connection, either you should retry.
Connection problems sometimes occur.

[2021-01-26 10:27] mxrch commented on #201
This isn't in your Gmail Account but in your Chrome Browser.
On Chrome, `CTRL+SHIFT+i` should open the right tab.

[2021-01-26 10:28] #201 closed

[2021-01-26 10:29] #56 closed

[2021-01-26 10:30] #182 closed

[2021-01-26 10:30] #178 closed

[2021-01-29 01:02] nullvoid2011 opened #202 "httpx issue in ghunt.py Line no. 12"
Even after installing all required from requirements.txt
Updatation and  and upgradation still this error is happening everytime.

┌──(nullvoid㉿kali)-[~/Downloads/GHunt]
└─sudo python3 hunt.py nullvoidhacker@gmail.com                  3 ⚙
[sudo] password for nullvoid:
Traceback (most recent call last):
  File "/home/nullvoid/Downloads/GHunt/hunt.py", line 12, in <module>
    import httpx
ModuleNot

[2021-01-29 14:38] cuzimrave opened #203 "Unable to fetch connected Google services"
Title says it all. When trying to use it with another account apart from my own it cant fetch the google services.

[2021-01-31 01:01] samsonite22 opened #204 "was working, now returns error"
Hi

This was working but now I get this...

  File "hunt.py", line 58
    print(f"[+] {len(data['matches'])} account found !")

[2021-01-31 22:02] teemeupyo opened #205 "Cookie issue"
After copying the values asked by the script and putting them in i get "Seems like the cookies are invalid, try regenerating them." Despite doing this several times. Any help?

[2021-02-01 08:23] saduqur80 commented on #181
Git diff

[2021-02-01 09:31] saduqur80 commented on #181
Thank

On Sun, 31 Jan 2021, 8:26 am stale[bot], <notifications@github.com> wrote:

[2021-02-01 21:59] TheKator commented on #202
Hello, I faced the same problem... I removed Ghunt from my computer, installed chrome and everything needed and after I installed it again, everything worked perfectly. (In case, u don't necessarily need sudo)

[2021-02-03 09:52] saduqur80 commented on #202
Thank you

On Tue, 2 Feb 2021, 4:00 am TheKator, <notifications@github.com> wrote:

[2021-02-05 09:48] snoozedesert commented on #195
same pls help me, i'm using firefox

[2021-02-05 16:54] mxrch commented on #202
You don't need to sudo.
Make sure you installed the requirements as user if you're launching as user, or as sudo if you installed them with sudo.

[2021-02-05 16:54] #202 closed

[2021-02-08 04:11] congaterori opened #206 "ModuleNotFoundError: No module named 'httpx'"
Traceback (most recent call last):
  File "D:\search\GHunt\check_and_gen.py", line 8, in <module>
    import httpx
ModuleNotFoundError: No module named 'httpx'

[2021-02-08 04:14] congaterori commented on #193
WARNING: The script f2py.exe is installed in 'C:\Users\DUCHUY_COMPUTER\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

[2021-02-08 04:15] congaterori commented on #193
WARNING: The script f2py.exe is installed in 'C:\Users\DUCHUY_COMPUTER\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

[2021-02-08 04:15] congaterori commented on #193
WARNING: The script chromedriver-path.exe is installed in 'C:\Users\DUCHUY_COMPUTER\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

[2021-02-08 04:16] congaterori commented on #193
WARNING: The scripts pip.exe, pip3.9.exe and pip3.exe are installed in 'C:\Users\DUCHUY_COMPUTER\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

[2021-02-09 13:32] #206 closed

[2021-02-09 13:33] mxrch commented on #204
Make sure you use Python 3.7+.

[2021-02-09 13:33] #204 closed

[2021-02-09 13:34] mxrch commented on #203
Yeah, sometimes if you test your own account you will have more details to read.

[2021-02-09 13:34] #203 closed

[2021-02-09 21:13] #176 closed

[2021-02-11 11:20] tej0402 opened #207 "Docker Trace back error"
Hi,

While I am running with docker image I am getting the below error message. I have checked my tokens those are valid. Help is appreciated.

Traceback (most recent call last):
  File "/usr/local/lib/python3.8/site-packages/httpx/_exceptions.py", line 326, in map_exceptions
    yield
  File "/usr/local/lib/python3.8/site-packages/httpx/_client.py", line 861, in _send_single_request
    (status_c

[2021-02-11 12:44] #199 closed

[2021-02-11 12:45] mxrch commented on #207
You maybe have a bad connection or you are behind a proxy / vpn.

[2021-02-11 12:53] tej0402 commented on #207
No I am not using VPN/Proxy, my connection is good though....But I am running Docker image inside my Virutalbox Kali machine.

[2021-02-14 20:50] Uzumaxi opened #208 "Has errors it shouldn't"
Tested it on a google account a while ago and it worked fine, Now when I test it it doesn't give nearly as much info even after I've made sure to refresh my cookies etc. Here's the text it gives when I try my own email:
![image](https://user-images.githubusercontent.com/60825034/107888759-661d7880-6edc-11eb-9a48-e3d7b7c1d182.png)

[2021-02-17 21:37] shaon7771 opened #209 "need this for termux installation"
need this for  termux installation.  plz

[2021-02-18 15:47] rhaby commented on #209
wait

On Thu, Feb 18, 2021 at 12:38 AM shaon7771 <notifications@github.com> wrote:

[2021-02-18 23:04] shaon7771 opened #210 "how to use it on termux?"
how to use it on termux? i'm beginner.  can you please help me?

[2021-02-20 00:16] mxrch commented on #209
https://github.com/mxrch/GHunt/issues/86

[2021-02-20 00:16] #209 closed

[2021-02-20 00:17] mxrch commented on #210
Don't open same "issue" twice. And : https://github.com/mxrch/GHunt/issues/86

[2021-02-20 00:17] #210 closed

[2021-02-20 10:06] #144 closed

[2021-02-20 17:26] 00-cardzz commented on #181
Did you ever solve this issue, I got the same problem.

[2021-02-20 18:34] shaon7771 commented on #210
sorry ,i'm new here

On Sat, 20 Feb 2021, 6:17 am mxrch, <notifications@github.com> wrote:

[2021-02-21 19:31] red74-ter opened #211 "Gthub"

[2021-02-21 19:39] Carat77 commented on #211
![Uploading Screenshot_20210220-100120.png…]()

[2021-02-21 19:39] #211 closed

[2021-02-21 20:45] Masiyahya commented on #181
same issue here

[2021-02-22 21:07] hossemtamsouh opened #212 "what is the meaning"
$ python3.7 check_and_gen.py
Traceback (most recent call last):
  File "check_and_gen.py", line 8, in <module>
    import httpx
ModuleNotFoundError: No module named 'httpx'

[2021-02-23 12:45] HenkPoley commented on #212
Run this first to install httpx, among other things: https://github.com/mxrch/GHunt#2-requirements

[2021-02-23 12:53] HenkPoley commented on #205
Maybe you are mixing up APISID vs **S**APISID, and SID vs **S**SID?

Those 4 different cookies, and can't be switched around.

[2021-02-23 15:10] StigP1337 opened #213 "Profile picture can be in PNG format"
For the profile picture Google does not only return JPEG images, but at least PNG images, too.
Instead of hardcoding the file ending ".jpg" in line 92 you could parse it from the image link (?) or use the build in function from PIL Image object. As you already have the Image object you could just use "format" attribute of it.

[2021-02-25 02:12] Apolycious opened #214 "Can't run check_and_gen.py"
![image](https://user-images.githubusercontent.com/77037457/109092426-16934400-7749-11eb-9d53-fcb59e4bcea2.png)
Ok, so i was running the GHunt and i was told to generate the token first, then i was going to open the check_and_gen.py but i can't open the file. can you please fix this issue? Thank You

[2021-02-25 13:22] #190 closed

[2021-03-03 23:35] rmpat opened #216 "cnmo670@gmail.com"

[2021-03-03 23:44] rmpat opened #217 "ايايياتي"
وورو

[2021-03-05 01:18] darthsnarkey commented on #181
I simply had to manually choose what to scan for and omit the hangouts

[2021-03-05 11:36] Masiyahya commented on #181
is their a command to do this?

On Fri, Mar 5, 2021 at 2:18 AM darthsnarkey <notifications@github.com>
wrote:

[2021-03-05 11:42] Masiyahya commented on #181
page crash after cookies are valid?

On Fri, Mar 5, 2021 at 12:36 PM Masi Yahya james <masiajames@gmail.com>
wrote:

[2021-03-06 20:13] aditya-wate commented on #195
You'd need to install chrome or chromium.

This should do the trick:

[code]

[2021-03-09 08:45] #214 closed

[2021-03-11 08:36] petersasi opened #219 "Where to put the cookies check_and_gen.py is looking for?"
I am trying to run this on an Ubuntu 20.04.2 LTS so do not really have GUI to start Chrome in this Ubuntu. However I do have Chrome and Firefox authenticated into a Google Account on the Windows 10 running this WSL Ubuntu.
Where shall I copy the cookies for the script to find them and generate properly?

[2021-03-11 08:38] petersasi commented on #219
Currently the scripts falis for me with:
[code]

[2021-03-14 17:53] #217 closed

[2021-03-14 17:53] #216 closed

[2021-03-14 17:54] mxrch commented on #213
Cool, I will add it.

[2021-03-14 17:54] mxrch commented on #212
Thanks @HenkPoley !

[2021-03-14 17:54] #212 closed

[2021-03-16 11:19] #177 closed

[2021-03-18 12:16] #197 closed

[2021-03-18 13:41] famasoon commented on #219
Maybe same issue https://github.com/mxrch/GHunt/issues/195 .
I think you should use Docker that will install google-chrome ( and chromedriver) automatically (Please see the README for instructions on how to install with Docker)

[2021-03-18 16:53] justarandomuserlol opened #220 "ModuleNotFoundError: No module named 'httpx'"
I can't start "hunt.py" because of this error:

Traceback (most recent call last):
  File "C:\Users\*****\Bureau\GHunt-master\hunt.py", line 12, in <module>
    import httpx
ModuleNotFoundError: No module named 'httpx'
`

The same for "check_and_gen".

Traceback (most recent call last):
  File "C:\Users\*****\Bureau\GHunt-master\check_and_gen.py", line 8, in <module>
    import httpx
ModuleNotFoun

[2021-03-18 17:12] KassFlute commented on #161
I have the same problem, did you found any issue ?

[2021-03-18 21:40] barbel-thierry commented on #33
I just ran into the same issue, so if it can help someone:
you can actually drop the chromedriver at the root of GHunt (download it [here](https://sites.google.com/a/chromium.org/chromedriver/downloads))

[2021-03-18 22:27] Vickelo opened #221 "Slt je t ai vue sur tiktok et je suis aller installer ghunt quand je suis retourné sur tiktok je n nais pas réussi a te retrouver pour chercher un tuto de ton programme"
Slt je t ai vue sur tiktok et je suis aller installer ghunt quand je suis retourné sur tiktok je n nais pas réussi a te retrouver pour chercher un tuto de ton programme

[2021-03-19 20:53] luckyshark05 commented on #221
celui qui a fait le tiktok n'a rien avoir

[2021-03-19 21:55] luckyshark05 opened #222 "problem with check_and_gen.py , I think I don't have the hangout token"
after putting the cookies, I had this problem

[code]

[2021-03-20 14:01] gunter423 commented on #222
Hey @luckyshark05, go to directory docker/ and run python download_chromedriver.py et re run python check_and_gen.py and normaly it's work.

[2021-03-20 15:01] Tometjazzlol commented on #222
python: can't open file 'download_chromedriver.py': [Errno 2] No such file or directory :/

[2021-03-20 17:36] gunter423 commented on #222
put yourself in the root the directory docker/ and run python download_chromedriver.py

[2021-03-20 17:57] Tometjazzlol commented on #222
Sorry but im new, and i don't know how to do that

[2021-03-20 20:18] Afraid0666 opened #223 "d"
s

[2021-03-20 20:29] #223 closed

[2021-03-21 02:49] Kaczorekkx opened #224 "Timeout"
so bassicly every time i use the check_and_gen.py it justs give me the timeout thingy I did put the timeout at config.py to 600 seconds which is 10 minutes and it still didn't work  please help

[2021-03-21 21:30] luckyshark05 commented on #222
same problem I have this same error
[code]

[2021-03-21 21:32] gunter423 commented on #222
Download chromium with `apt install chromium`

[2021-03-21 21:58] mxrch commented on #221
![gif](https://media3.giphy.com/media/3o6gDRuqYeG11VeBG0/giphy.gif)

[2021-03-21 21:58] #221 closed

[2021-03-22 06:01] paTRIBE commented on #222
I had the same issue. Fix:
Run the script /Ghunt/docker/download_chromedriver.py (even if you are not using docker)
it will create a folder and a file: /Ghunt/docker/89/chromedriver.exe
replace the file "chromedriver.exe" from: /Ghunt/87/chromedriver.exe with the one from: /Ghunt/docker/89/chromedriver.exe
** If this did not fix your issue, copy the whole folder: /Ghunt/docker/89/ (including the .

[2021-03-22 09:15] fiuderazes commented on #224
Same problem I`ve met too - [-] Timeout while fetching the Internal tokens.

[2021-03-22 15:25] kalumacho opened #225 "SSL filed when check_and_gen is run"
Hi,

Hi have this message when i rune the script

urllib.error.URLError: <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1123)>

Do you know what can i do ?

Thank you

[2021-03-22 20:10] DxSper commented on #222
i think you use the script on WSL ? no ?

[2021-03-23 05:42] LevidAOL commented on #177
thank you. please tell malinda conway faugn i need some of the
billions i put in her account! my family and prowse family turned on
me!

[2021-03-23 11:44] iocomxda commented on #224
I get the timeout when trying to get the authorization header. I also tried to increase the timeout up to an hour with no luck.

[2021-03-24 14:05] ntai1 opened #226 "Cookies valid but there is an error"
[+] The cookies seems valid !
Traceback (most recent call last):
  File "/home/tometjazz/GHunt/check_and_gen.py", line 196, in <module>
    driver = webdriver.Chrome(
  File "/home/tometjazz/.local/lib/python3.9/site-packages/seleniumwire/webdriver/browser.py", line 96, in __init__
    super().__init__(*args, **kwargs)
  File "/home/tometjazz/.local/lib/python3.9/site-packages/selenium/webdriver/c

[2021-03-24 18:28] DelegateZero commented on #226
Download the latest GHunt-master folder and try again.

[2021-03-25 19:25] Readyfreddy33 commented on #222
Tried doing this but got this error:

Traceback (most recent call last):
  File "check_and_gen.py", line 196, in <module>
    driver = webdriver.Chrome(
  File "/usr/local/lib/python3.8/dist-packages/seleniumwire/webdriver/browser.py", line 96, in __init__
    super().__init__(*args, **kwargs)
  File "/usr/lib/python3/dist-packages/selenium/webdriver/chrome/webdriver.py", line 95, in __init__

[2021-03-26 03:28] cyber1998 commented on #220
@justarandomuserlol It seems like you are missing the httpx module somehow. I suggest you to try and install it again. While inside your virtual environment, type `pip install httpx`

[2021-03-26 03:32] cyber1998 commented on #213
@mxrch Hey, I am looking to contribute to my first open source project. Since this ticket isn't closed yet, I assumed it is still unresolved. May I take a look at it? :)

[2021-03-26 15:37] sprklingwatrr opened #227 "Module"
Please choose a module.

Available modules :
- email

How do I choose a module?

[2021-03-26 21:26] mxrch commented on #227
The module is the first argument, like :
python3 ghunt.py email myemail@gmail.com

[2021-03-26 23:03] #227 closed

[2021-03-27 23:03] #220 closed

[2021-03-28 19:55] gunter423 commented on #222
Change you'r version of chrome

[2021-03-28 20:41] Readyfreddy33 commented on #222
I tried doing that, however i cant find the binaries to rollback. If you can find it, please point me to the right direction

[2021-04-02 06:28] fynox opened #229 "Photo"
The photos to archive the account are no longer available or maybe I'm doing it wrong

[2021-04-03 11:43] navaneethmanoj opened #230 "Cookie valid,but error"
[+] The cookies seems valid !
Extracting the tokens...

Google Docs Token =>
127.0.0.1: : Traceback (most recent call last):
  File "/home/untitled/.local/lib/python3.8/site-packages/seleniumwire/thirdparty/mitmproxy/server/server.py", line 113, in handle
    root_layer()
  File "/home/untitled/.local/lib/python3.8/site-packages/seleniumwire/thirdparty/mitmproxy/server/modes/http_proxy.py", line 9

[2021-04-03 20:43] LeHak0 opened #231 "It doesn't give me the tokens"
python3 check_and_gen.py                                                                  127 ⨯
[-] No stored cookies found

Enter these browser cookies found at accounts.google.com :
SID =>
SSID =>
APISID =>
SAPISID =>
HSID =>
[+] The cookies seems valid !
Traceback (most recent call last):
  File "/home/kali/GHunt/check_and_gen.py", line 196, in <module>
    driver = webdriver.Chrome(
  File "/u

[2021-04-06 03:08] diehard88 commented on #224
same here....
![Project 2](https://user-images.githubusercontent.com/25366502/113653416-c8d0fc00-9663-11eb-86f1-fc8d3e78f098.png)

[2021-04-06 08:32] StigP1337 commented on #231
The ChromeDriver version needs to match exactly your Chrome browser version. As stated at the end of the error message you have ChromeDriver version 86 installed, but your Chrome browser version is 89.0.4389.114. You have to install ChromeDriver version 89.0.4389.114 first.

**And NEVER post your session cookie values in public!**

[2021-04-06 08:35] StigP1337 commented on #226
The ChromeDriver version needs to match exactly your Chrome browser version. As stated at the end of the error message you have ChromeDriver version 90 installed, but your Chrome browser version is 89.0.4389.82. You have to install ChromeDriver version 89 first.

[2021-04-06 08:49] LeHak0 commented on #231
okay thank you
sorry for that

[2021-04-06 08:49] #231 closed

[2021-04-08 10:48] FFAR-1 opened #232 "S"

[2021-04-08 17:54] Undefined3301 commented on #224
Same

[2021-04-11 05:49] kernelXDA commented on #219
sudo apt update
sudo apt upgrade

apt-get install \
apt-transport-https \
ca-certificates \
curl \
gnupg \
lsb-release

curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo gpg --dearmor -o /usr/share/keyrings/docker-archive-keyring.gpg
echo \

sudo apt-get update

sudo apt-get install docker-ce docker-ce-cli containerd.io
apt-cache madison docker-ce
sudo apt-get install docker-ce=< xxxx

[2021-04-12 15:21] famasoon opened #235 "Do you plan to do type definitions?"
Hi,
I have 1 question.
In this repository's code was not definition type.
For example: `function(value: str) -> str`

Type definitions can prevent bugs and make it easier to know what values are needed.

Are there any plans to define types in this repository in the future?

[2021-04-12 18:05] msmharbi opened #236 "issues in python3 check_and_gen.py"
its keep give this massage... my googlechrome v is :  Version 89.0.4389.114 (Official Build) (64-bit)
and ChromeDriver 89.0.4389.90

Google Docs Token => AC4w5VgND4OtXRiEnYxPi-UGRF8oEanu5Q:1618749789070
Traceback (most recent call last):
  File "/home/msmharbi/GHunt/check_and_gen.py", line 212, in <module>
    internal_auth, internal_token = get_internal_tokens(driver, cookies, tmprinter)
  File "

[2021-04-14 09:05] bret99 opened #237 "timeout issue"
Run 'check_and_gen.py' =>

[+] The cookies seems valid !
Extracting the tokens...

Google Docs Token => my_token
[-] Timeout while fetching the Internal tokens.
Please increase the timeout in config.py or try again.

Increased to 360 timeout => the same result.

[2021-04-18 05:54] kukurikapu0102 opened #238 "This version of ChromeDriver only supports Chrome version 83"
[+] The cookies seems valid !
Traceback (most recent call last):
  File "/root/GHunt/check_and_gen.py", line 196, in <module>
    driver = webdriver.Chrome(
  File "/usr/local/lib/python3.9/dist-packages/seleniumwire/webdriver.py", line 114, in __init__
    super().__init__(*args, **kwargs)
  File "/usr/lib/python3/dist-packages/selenium/webdriver/chrome/webdriver.py", line 95, in __init__
    Rem

[2021-04-19 06:05] deltabravozulu commented on #238
You probably have a separate installation installed.

[2021-04-19 06:08] deltabravozulu commented on #238
Type "which chromedriver" into terminal and see what your computer is using. @mxrch  you should probably just have your script download the chromedriver into docker/the cloned repo and use it regardless of whether it is installed or not. It's a pretty tiny file, after all, and people who have another chromedriver somewhere in their PATH will be sort of screwed because the detection mechanism doesn

[2021-04-19 06:11] kukurikapu0102 commented on #238
Will try bro, Thanks alot!

[2021-04-19 06:12] deltabravozulu commented on #238
Sure thing!

[2021-04-19 13:52] bwogi28 opened #239 "Cookie Valid but get Error"
[+] The cookies seems valid !
Extracting the tokens...

Google Docs Token => XXXXXXXXXXXXXXXXXXXXXXXX
Traceback (most recent call last):
  File "C:\Users\xxx\Downloads\Music\GHunt-master\check_and_gen.py", line 212, in <module>
    internal_auth, internal_token = get_internal_tokens(driver, cookies, tmprinter)
  File "C:\Users\xxx\Downloads\Music\GHunt-master\check_and_gen.py", line 120, in get_in

[2021-04-24 05:00] Sachin6752 commented on #238
Nice

[2021-04-30 13:48] PlzNoJava opened #240 "Docker install not identifying or saving profile photos"
On accounts known to have a non-default profile image, docker install is resulting with "[-] Default profile picture".

I see the note as well that "[+] Docker detected, profile pictures will not be saved". Is there a way to save the photo to the system?

[2021-05-10 10:26] pranjal-b commented on #224
same

[2021-05-10 20:45] blankMahir commented on #170
It seems a new problem related to this is occured after google chrome updates to 90. GHunt is not accepting cookies. after running "python3 check_and_gen.py" gives this output.

[+] Detected stored cookies, checking it

[-] Seems like the cookies are invalid.

Do you want to enter new browser cookies from accounts.google.com ? (Y/n) y
SID => 9QcpHokdoXTkPqg1NcyXP30T209POqeHmlw-30ONEQThWvN8pIZx_PAg

[2021-05-13 17:59] fuomag9 commented on #237
same issue

[2021-05-20 12:39] dathckr opened #241 "Unable to save cookies."
I installed newest version on Github, and try to input cookies
My command:dat@HanhtinhLucbich ~/G/GHunt (master)> python3 check_and_gen.py
[-] No stored cookies found

Enter these browser cookies found at accounts.google.com :
SID => 9wcPB*************************************************************************************IQ.
SSID => A************************A
APISID => u**************************

[2021-05-21 13:21] 0x98a commented on #224
same

[2021-05-21 20:56] dirt3009 commented on #224
same

[2021-05-24 20:20] diehard88 commented on #237
same here

[2021-05-24 20:21] diehard88 commented on #224
that's it I guess

[2021-05-26 16:46] tsmitsmitonline opened #243 "probable location"
I have checked several times past days my own gmail account.

I experienced during the last checks that the 'Probable location' information is missing, while on earlier checks it was presented in the results.

Any idea why?

[2021-05-28 14:10] StigP1337 commented on #241
Which Python version are you using? It works for me with Python 3.8.x and 3.9.x, but not with 3.6.x and 3.7.x (same error)

[2021-05-29 16:51] rayan94444 opened #244 "available modules"
i set up Ghunt and install chrome driver latest version also generate my cookie but when i execute command python3 ghunt.py it shows onlly: available modules :
- email
- doc

[2021-05-29 16:56] mxrch commented on #244
Read the Readme.

[2021-05-29 16:57] #244 closed

[2021-05-29 17:05] paoloq887 opened #245 "Missing module named 'imagehash'"
Traceback (most recent call last):
  File "ghunt.py", line 7, in <module>
    from lib.utils import *
  File "/home/altar/GHunt/lib/utils.py", line 1, in <module>
    import imagehash
ModuleNotFoundError: No module named 'imagehash'

[2021-05-30 20:27] busshi opened #246 "Unable to run on kali/linux on a M1 / ARM"
Hi,

Does somebody have the same issue, trying to run GHunt on a mac M1, in a virtual machine ???

WARNING : The requested image's plateform (linux/amd64) does not match the detected host plateform (linux/arm64/v8) and no specific plateform was requested
standard_init_linux_go:219:exec user process caused: exec format error

[2021-05-31 07:58] osint5340 commented on #245
Same problem but also on file check_and_gen. py, line 14, in <module> rom lib.utilis import

You found a solution ?

[2021-05-31 23:03] y0d4a opened #247 "Message: unknown error: DevToolsActivePort file doesn't exist"
Hi,

i am trying to setup this, but have the issue when he need to show results, after successful entering cookies, he crashed with error:
`[+] The cookies seems valid !
Traceback (most recent call last):
  File "check_and_gen.py", line 196, in <module>
    driver = webdriver.Chrome(
  File "/home/y0d4/.local/lib/python3.8/site-packages/seleniumwire/webdriver.py", line 115, in __init__
    super()

[2021-06-01 09:21] mxrch commented on #243
It seems something changed for the GMaps reviews scraping, I'll take a look at it soon.
Thanks for reporting it.

[2021-06-01 09:23] mxrch commented on #240
In fact we can do it by saving the profile picture on the docker storage, but it's too complexe to find the right docker storage path for every operating system.
For Windows it's in the Linux Subsystem where Docker is emulated, etc.
If you don't need mass downloading profile pictures you can just download the profile picture from the link that GHunt gives to you.

[2021-06-02 13:19] PlzNoJava commented on #240
The issue seems to be that the docker version reports

`[-] Default profile picture`

on accounts I can confirm there is in fact a custom profile image. Because it reports default, no link is provided to download the profile picture.

[2021-06-07 05:25] p-hp commented on #170
I didn't run into this issue the first time I used GHunt (yahoo email on a google acc), but now it's literally unbearable. I'm unable to check any email without running into this error, even when I've confirmed the email is used in the Google account. Check for errors again?

[2021-06-09 11:44] nancyrathore92 commented on #119
i got the same error!any solution to it?

[2021-06-10 23:05] mxrch commented on #243
fixed in https://github.com/mxrch/GHunt/commit/eb25fde2d8bfa8d65176a784e7c2f013f58f85ca

[2021-06-10 23:05] #243 closed

[2021-06-10 23:05] #232 closed

[2021-06-10 23:17] mxrch commented on #229
Yes.

[2021-06-10 23:17] #229 closed

[2021-06-11 07:07] tsmitsmitonline opened #248 "Error on Maps results"
I get this (error) as a result:

Google Maps : https://www.google.com/maps/contrib/110306586906448828580/reviews
[+] 5 reviews found !
Traceback (most recent call last):
  File "ghunt.py", line 33, in <module>
    email_hunt(data)
  File "/usr/src/app/modules/email.py", line 160, in email_hunt
    reviews = gmaps.scrape(gaiaID, client, cookies, config, config.headers, config.regexs["review_loc_by_

[2021-06-11 07:44] mxrch commented on #248
Hi @tsmitsmitonline, can u give me the link of gmaps profile producing this error ?

[2021-06-12 09:04] tsmitsmitonline commented on #248
Here you go:
sudo docker run -v ghunt-resources:/usr/src/app/resources -ti mxrch/ghunt ghunt.py email timo@smit-online.nl

[2021-06-12 10:51] mxrch commented on #248
Fixed ! :)

[2021-06-12 10:51] #248 closed

[2021-06-12 12:45] tsmitsmitonline commented on #248
Great, it works!

[2021-06-14 08:56] BonnY0 opened #250 "Wayback module"
enter this command if error says no module named 'wayback';
pip install wayback

[2021-06-14 08:58] mxrch commented on #250
Oh yes I forgot the module in the requirements.txt...

[2021-06-14 08:59] mxrch commented on #250
https://github.com/mxrch/GHunt/commit/f522a8ef66020f166ce5dfa569132bf032819692 fixed.

[2021-06-14 08:59] #250 closed

[2021-06-14 09:00] BonnY0 commented on #245
pip install imagehash

[2021-06-14 09:57] tsmitsmitonline opened #251 "New error after recent update (today)"
Traceback (most recent call last):
  File "ghunt.py", line 11, in <module>
    from modules.youtube import youtube_hunt
  File "/usr/src/app/modules/youtube.py", line 15, in <module>
    from bs4 import BeautifulSoup as bs
ModuleNotFoundError: No module named 'bs4'

[2021-06-15 12:34] #251 closed

[2021-06-15 12:35] mxrch commented on #251
fixed !

[2021-06-15 13:36] tsmitsmitonline commented on #251
It works again, thanks for fixing

[2021-06-16 07:52] izdof commented on #237
same problem, did someone find how to fix that? I'm using the latest Python version

[2021-06-27 23:43] Zeb-DGSE opened #254 "Help me please"
when I do python3 check_and_gen.py

[2021-06-27 23:43] Zeb-DGSE commented on #254
![Capture d’écran 2021-06-28 à 01 42 42](https://user-images.githubusercontent.com/78049691/123562985-495e4f00-d7b2-11eb-83b1-668843b99d9a.png)

[2021-06-27 23:44] Zeb-DGSE commented on #254
Please helpme

[2021-06-28 08:41] gdjohn4s commented on #254
Hi,
Are you using a self-signed SSL Cert?

[2021-06-29 01:08] Venomish-Snake opened #255 "Timeout Error"
Hi All,
I've just tried to configure the check_and_gen.py with all correct cookies etc. The google account is signed in on chrome, and all values have been entered correctly.
I've adjusted the timeout accordingly, yet still face the same issue. All requirements are installed and i have tried using python 3.7.x, 3.8.x.

Would anyone know what the issue is?

Thanks
![image](https://user-images.githu

[2021-06-29 16:18] thebigelf1 commented on #255
same issue as @Venomish-Snake

[2021-06-30 05:11] Venomish-Snake commented on #255
I've read somewhere that a 'fix' is using python 3.7.2 or 3.8.3. I've tried both versions and it did not work :/

[2021-07-07 11:14] Zeb-DGSE commented on #254
How do I Know that ? (sorry for my lack of knowledge but I'm a brand new beginner)

[2021-07-07 17:28] search-ish opened #257 "Tells me cookies invalid"
I keep getting this message while using docker.
I did the same things that used to work but now it does not
can you help?
I get this message

$ docker run -v ghunt-resources:/usr/src/app/resources -ti mxrch/ghunt check_and_gen.py
ghunt-resources:/usr/src/app/resources -ti mxrch/ghunt ghunt.py email <email_address>
docker run -v ghunt-resources:/usr/src/app/resources -ti mxrch/ghunt ghunt.py doc <d

[2021-07-10 11:48] KOBAJIT commented on #195
installed Chrome, still the same problem

[2021-07-12 11:04] EvanSonnemans commented on #255
The problem is here :
[code]
The variable internal_auth get set to "" (empty) and then ends up in an infinite loop that only ends if internal_auth is not empty. Ghunt is now broken...

[2021-07-17 00:50] louissegal commented on #257
Following...
Have checked on latest version of image.
Deleted checked deleted and made new cookies from browser (Firefox)
Attempted with Safari, issue persists.

[2021-07-18 19:43] megustalafantabienfria commented on #195
Same issue here! Already have google chrome installed...

[2021-07-19 02:52] haxor-dot commented on #257
There is a issue/bug while trying to regen cookies you might face this issue #255

[2021-07-19 03:17] haxor-dot commented on #241
@StigP1337 Did you tried regenerating cookies and entering them? or you using old cookies?

[2021-07-19 15:19] romulocordova opened #258 "Running on Google Forms as well?"
Just trying it out on a **public** Google Form, but i get this:

`Document ID not found.
Please make sure you have something that looks like this in your link :☺BxiMVs0XRA5nFMdKvBdBZjgmUUqptlbs74OgvE2upms`

I ran

`C:\Users\Documents\GHunt>ghunt.py doc https://docs.google.com/forms/d/e/[document ID]/viewform`

[2021-07-20 12:04] johnny-silverhand opened #259 "failed parse reviews"
[code]

[2021-07-22 09:51] githubb2333 opened #260 "cannot assign requested address :( Is anyone here?"
Traceback (most recent call last):
  File "/usr/local/lib/python3.8/site-packages/httpx/_transports/default.py", line 61, in map_httpcore_exceptions
    yield
  File "/usr/local/lib/python3.8/site-packages/httpx/_transports/default.py", line 181, in handle_request
    status_code, headers, byte_stream, extensions = self._pool.handle_request(
  File "/usr/local/lib/python3.8/site-packages/httpcore/

[2021-07-23 15:53] HenkPoley commented on #112
You can also download the most recent / matching ChromeDriver and drop it in GHunt/<Chrome version>/

[2021-07-26 22:17] 05x90fm commented on #195
1. Chromedriver & Google Chrome
This project uses Selenium, so you'll need to download the chromedriver here : https://chromedriver.chromium.org/downloads
And put it in the GHunt folder. Be sure it's called "chromedriver.exe" or "chromedriver".
Also, be sure to have Google Chrome installed.

2. In the GHunt folder, do this:

`python3 -m pip install -r requirements.txt`

3. Usage
`python3 check_and

[2021-08-09 15:49] hukum23 commented on #259
![IMG_20210809_205428.jpg](https://user-images.githubusercontent.com/82059027/128734176-f305c94e-750c-4dfd-a3f9-9b14bda18f64.jpg)

[2021-08-10 04:50] longldktmm commented on #236
I error too
Traceback (most recent call last):
  File "E:\git\GHunt-master\check_and_gen.py", line 212, in <module>
    internal_auth, internal_token = get_internal_tokens(driver, cookies, tmprinter)
  File "E:\git\GHunt-master\check_and_gen.py", line 120, in get_internal_tokens
    internal_token = body.split("appsitemsuggest-pa")[1].split(",")[3].strip('"')
IndexError: list index out of range

[2021-08-10 08:27] nlguerra2003 opened #261 "check_and_gen.py: List index out of range"
This is my first use of the program, and I expected a stdin to input the cookies.
Instead, this error is displayed:
![image](https://user-images.githubusercontent.com/25437891/128834214-cb0ec418-508d-40c3-a5d8-812cf45c996d.png)

[2021-08-11 13:39] bdr2486 opened #262 "Google"

[2021-08-12 10:16] gcleaves opened #264 "Traceback when searching docs"
Hello, I have searched for 2 docs (different owners) and each time I got a traceback error. Email searches work without error.

[code]

[2021-08-12 13:23] That1GuyOnTheCouch commented on #264
File changed

[2021-08-12 13:33] gcleaves commented on #264
What does this mean? I need to update the docker container?

[2021-08-13 23:06] Jrmcrpt commented on #246
Yes i try to boot from kali live live usb.

[2021-08-16 21:36] securestep9 opened #267 "Error symbol not found: _clock_gettime under python3.6"
python3 ghunt.py
Traceback (most recent call last):
  File "ghunt.py", line 7, in <module>
    from lib.utils import *
  File "/lib/utils.py", line 1, in <module>
    import imagehash
  File "/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/imagehash.py", line 34, in <module>
    from PIL import Image, ImageFilter
  File "/Library/Frameworks/Python.framework/Versions/3

[2021-08-19 10:51] roswitina opened #268 "[Solved] Cant not finish "ghunt check_and_gen.py""
docker run -v ghunt-resources:/usr/src/app/resources -ti mxrch/ghunt check_and_gen.py
[code]
root@debian11:/opt#

[2021-08-19 11:17] roswitina commented on #268
This trial took place in a Linux VM; without a desktop interface.

I have now carried out the installation under Windows and everything works.

Thank you.

[2021-08-19 11:18] #268 closed

[2021-08-19 11:18] roswitina commented on #268
The error was before the computer.....
Ashes on my head....

[2021-08-24 09:56] ahmedibu777 opened #269 "FileNotFoundError"
**python3 check_and_gen.py**
Traceback (most recent call last):I'm downloading and installing it for you...
  File "check_and_gen.py", line 139, in <module>
    driverpath = get_driverpath()
  File "/home/****user****/GHunt/lib/utils.py", line 132, in get_driverpath
    path = chromedriver_autoinstaller.install(cwd=True)
  File "/home/********/.local/lib/python3.7/site-packages/chromedriver_autoin

[2021-09-07 18:32] RocketNinja15 opened #273 "Check and Gen.py Error"
[+] The cookies seems valid !
Traceback (most recent call last):
  File "C:\Users\Rocket\GHunt\check_and_gen.py", line 196, in <module>
    driver = webdriver.Chrome(
  File "C:\Users\Rocket\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\seleniumwire\webdriver.py", line 168, in __init__
    super().__init__(*args, **kwargs)

[2021-09-07 18:43] mxrch commented on #273
Delete the folder "91" in GHunt folder

[2021-09-13 11:34] Tyrell20 commented on #255
Same timeout error, both with python 3.7 and 3.8 versions.

[2021-09-24 23:21] Rik77 opened #274 "Wolfsanek7@gmail.ru"

[2021-09-26 21:45] psyb1 opened #275 "ImportError: cannot import name 'FirefoxOptions' from 'selenium.webdriver'"
When I try to run check_and_gen.py I get this error...

File "check_and_gen.py", line 10, in <module> from seleniumwire import webdriver File "/usr/local/lib/python3.8/dist-packages/seleniumwire/webdriver.py", line 4, in <module> from selenium.webdriver import FirefoxOptions  # noqa
ImportError: cannot import name 'FirefoxOptions' from 'selenium.webdriver' (/usr/local/lib/python3.8/dist-packges/se

[2021-09-30 05:45] safdar-aneela opened #276 "Type Error: get() got an unexpected keyword argument 'allow_redirects'"
I am getting following error while saving cookies in check_and_gen.py. My python version is 3.9.2.

`Traceback (most recent call last):
  File "/home/kali/Downloads/GHunt-master/check_and_gen.py", line 175, in <module>
    html = get_authorization_source(cookies)
  File "/home/kali/Downloads/GHunt-master/check_and_gen.py", line 38, in get_authorization_source
    req = httpx.get("https://docs.goog

[2021-09-30 08:30] mxrch commented on #276
Looks like httpx edited their allow_redirects param to follow_redirects : https://github.com/encode/httpx/blob/e1abaf146fe1b66c0d5ae10a24106865efe2d79e/httpx/_api.py#L175

If you have vscode, can you try find and replace all occurences of "allow_redirects" by "follow_redirects", and then re-run ?

And if it works, can you push a PR ? :)

[2021-10-01 16:46] #259 closed

[2021-10-04 10:21] safdar-aneela commented on #276
Now its giving me error again with replaced argument.

`Traceback (most recent call last):
  File "/home/kali/Downloads/GHunt-master/check_and_gen.py", line 175, in <module>
    html = get_authorization_source(cookies)
  File "/home/kali/Downloads/GHunt-master/check_and_gen.py", line 38, in get_authorization_source
    req = httpx.get("https://docs.google.com/document/u/0/?usp=direct_url",
TypeErr

[2021-10-05 05:10] OBITORASU commented on #276
@mxrch had a question regarding this. Do we even need to use the `follow_redirects` parameter explicitly anymore? There are currently two instances of `allow_redirects` both set to false and if we are migrating to the newer `follow_redirect` then the official documentation states that it is false by default.

[2021-10-05 08:40] pierrebrtr commented on #255
Up @mxrch

[2021-10-05 10:00] mxrch commented on #276
Nice catch ! This is a good solution but most people will just update GHunt by doing a `git pull` and will not upgrading their modules, and there will be many issues like "unexpected keyword argument allow_redirects"
So I think we'll do this but I'll add a function that will check if all hardcoded modules versions in the requirements.txt are installed.
And we'll let all the modules in the requirem

[2021-10-07 15:51] mgmehra2005 opened #278 "Youtube Links"
<b>Youtube</b> links are not opening. It's showing error.

*    Invalid url forwarding parameter.
*    Sorry, your login was incorrect.

[2021-10-09 00:57] haszimoto opened #279 "How to fix this ? This version of ChromeDriver only supports Chrome version 79"
[+] The cookies seems valid !
Traceback (most recent call last):
  File "/root/GHunt/check_and_gen.py", line 196, in <module>
    driver = webdriver.Chrome(
  File "/usr/local/lib/python3.9/dist-packages/seleniumwire/webdriver.py", line 168, in __init__
    super().__init__(*args, **kwargs)
  File "/usr/lib/python3/dist-packages/selenium/webdriver/chrome/webdriver.py", line 95, in __init__
    Rem

[2021-10-09 17:50] meticulousCraftman commented on #279
I have the same problem.
Here is the result after running  **check_and_gen.py**.

[code]

[2021-10-13 18:32] HenryCobalt opened #280 "Changed allow_redirects to follow_redirects but getting this error"
[+] The cookies seems valid !
Extracting the tokens...

Google Docs Token => AC4w5VgIDZP2Up2TJa6gRkg3Aiy3_PdA9A:1634149681901
Traceback (most recent call last):
  File "/home/henry/Desktop/GHunt/check_and_gen.py", line 212, in <module>
    internal_auth, internal_token = get_internal_tokens(driver, cookies, tmprinter)
  File "/home/henry/Desktop/GHunt/check_and_gen.py", line 111, in get_internal_t

[2021-10-15 23:08] lateralusd opened #281 "UnicodeEncodeError: 'utf-8' codec can't encode character '\udccc' in position 27: surrogates not allowed"
Hello, while fuzzing with `radamsa` and sending the unprintable character, application crashes showing user traceback.

[code]

I would just reconsider checking whether the input is the one we expect and of course if the characters are printable.

[2021-10-18 06:54] 161134077 opened #282 "Error check_and_gen.py - File "check_and_gen.py", line 38, in get_authorization_source"
I input SID, SSID, APISID, APISID, HSID matching accounts.google.com, why error?
![Capture](https://user-images.githubusercontent.com/39833970/137683403-ae9884c7-3a5f-4423-97cc-64415e9a26d4.JPG)

[2021-10-20 22:36] #282 closed

[2021-10-22 15:34] HellGateCorp opened #283 "params = {x.attrs["name"]:x.attrs["value"] for x in body.find_all("input", {"type":"hidden"})} KeyError: 'value'"
Chrome, chromedriver and Selenium are up to date but after the last update, when I input my valid Cookies-Keys it throw the ErrorCode below . The curious is, after it I must reboot my System for the possibility to open Chrome again, when I don't reboot it I can click on to the icon but nothing happens. Now when I want to take the ChromeApp into the Garbage, the OS won't do it and show me an error

[2021-10-25 19:52] haszimoto opened #284 "Problem with check_and_gen.py ? any1 help"
File "/home/kali/ghunt/check_and_gen.py", line 290, in <module>
    osid = gen_osid(cookies, "console.cloud.google.com", "cloudconsole")
  File "/home/kali/ghunt/check_and_gen.py", line 152, in gen_osid
    params = {x.attrs["name"]:x.attrs["value"] for x in body.find_all("input", {"type":"hidden"})}
  File "/home/kali/ghunt/check_and_gen.py", line 152, in <dictcomp>
    params = {x.attrs["name"]:

[2021-10-25 23:27] #284 closed, assigned to nobody

[2021-10-27 20:56] MrNonoss opened #285 "Docker update"
Hi there,

I noticed the [docker image](https://hub.docker.com/r/mxrch/ghunt) is 3 months old and the source here is only a few days.
The doc states a new image is built upon each git push, but I wonder if something is broken and unnoticed.

For exemple, the check_and_gen.py in docker image does not integrate browser extension companion.

[2021-10-28 21:18] 161134077 opened #286 "I check Google Chrome Cookies name LSID naught"
need input Cookies name LSID, i check google chrome Cookies name LSID naught..

![ghunt](https://user-images.githubusercontent.com/39833970/139336773-41d12b9a-ecc9-4f00-9bc9-e44a37a3fd52.JPG)

[2021-10-30 02:36] ActorExpose commented on #286
I've got the same issue also :P

[2021-10-30 11:53] romulocordova commented on #286
Same problem. I can't get LSID cookie.

[2021-10-30 12:09] mxrch commented on #286
Did you followed the new method on the Readme ? It's not like the previous one
And if you can't do it with this method, use the extension I made for this step :)

[2021-10-30 15:26] 161134077 commented on #286
work,

i use cookies base64, can you download extension browser

microsoft edge: https://microsoftedge.microsoft.com/addons/detail/ghunt-companion/jhgmpcigklnbjglpipnbnjhdncoihhdj
mozila: https://addons.mozilla.org/fr/firefox/addon/ghunt-companion/
google chrome: https://chrome.google.com/webstore/detail/ghunt-companion/dpdcofblfbmmnikcbmmiakkclocadjab/related

[2021-10-30 15:26] #286 closed

[2021-10-30 15:52] romulocordova commented on #286
I use your extension, but on Base64 is a very long string that it doesn't
work.

On Sat, Oct 30, 2021 at 12:26 PM Abraham cahyo adi ***@***.***>
wrote:

--
Rómulo Córdova

[2021-10-30 16:04] romulocordova opened #287 "Ghunt Companion (Browser Extension) only gives me a long string"
As I couldn't find the LSID, I installed the GHunt Companion so I can get the cookies.

Nevertheless, I just get a very long string of characters and when running `python3 check_and_gen.py` it asks for more than one string.

Help.

[2021-10-30 16:07] mxrch commented on #287
Are you sure you got the latest version of GHunt ? Run a "git pull" in the folder, and when you run the check_and_gen.py, it should ask you the method to use to login
Here you can choose between the two methods of the extension, or the manual method.

[2021-10-31 14:08] romulocordova commented on #287
Worked like a charm. Thanks!

[2021-10-31 14:08] #287 closed

[2021-10-31 14:31] #262 closed

[2021-11-04 15:41] Cambysses commented on #261
I had this problem today, chromedriver_autoinstaller grabs the version number from a user registry key which does not exist unless you have launched Chrome at least once.

So if you launch Chrome as the particular user that is running the script it should fix it.

[2021-11-06 17:57] Arinerron opened #288 "Stuck on "Fetching Drive homepage...""
Tried from two separate google accounts + computers

[2021-11-11 06:20] dillythecoder opened #289 "Doesnt work with google cloud shell"
Error when ran on google cloud shell:
      platform: Linux-5.10.68+-x86_64-with-debian-10.11
        pip: 18.1
        setuptools: 58.5.3
        setuptools_rust: 0.12.1
        =============================DEBUG ASSISTANCE=============================

    error: can't find Rust compiler

    If you are using an outdated pip version, it is possible a prebuilt wheel is available for this package

[2021-11-12 10:26] yunav13 commented on #205
LSID i can not able to find it on cookies

[2021-11-13 06:26] TrulyPain commented on #288
I have the same issue.

[2021-11-15 10:06] K-techie commented on #286
I found the LSID cookie on the same cookies menu after checking the box "show filtered out request cookies"

[2021-11-15 10:08] K-techie commented on #205
I found the LSID cookie after checking the box "show filtered out request cookies" on the same cookies menu.

[2021-11-15 10:14] K-techie commented on #255
same timeout error 😢

[2021-11-15 10:39] yunav13 commented on #205
i cant able to find where is the "show filtered out request cookies", could u tell me and send a screenshot? thank u

i cant able to find where is the "show filtered out request cookies", could u tell me and send a screenshot? thank u

[2021-11-15 11:37] K-techie commented on #205
@yunav13 ,It's on the same screen where you find other cookies. see screenshot. But i am still stuck at "waiting for authorisation header"
<img width="334" alt="cookie_ghunt" src="https://user-images.githubusercontent.com/93819980/141775484-ea39e3fa-efeb-44a3-afe6-cd1797119be4.png">

[2021-11-16 02:14] delvera opened #290 "Help Chrome error"

[2021-11-16 07:34] kevinalfito69 opened #291 "No LSID on cookies"
![image](https://user-images.githubusercontent.com/71138490/141940600-775c6c74-5677-4e9a-a4c1-d747133dd535.png)
I have tried in several browsers but still not found a cookie named LSID

and when I try to use cookies base 64, from the chrome extension there is an error:
[-] Timeout while fetching the Internal tokens.
Please increase the timeout in config.py or try again.

[2021-11-16 09:13] mxrch commented on #291
If you look at the Readme you'll see that the LSID isn't from myaccount.google.com but from accounts.google.com, which redirects to myaccount.google.com, so you'll not be able to fetch it with an extension like Cookie Editor, you shouls look in the requests.
If you have a timeout error by using the base64, it's another problem and I don't know why it's happening.

[2021-11-16 09:14] #290 closed

[2021-11-16 13:56] K-techie commented on #291
I found the LSID by checking the "Show filtered out request cookies" box refer below issue.
https://github.com/mxrch/GHunt/issues/205#issuecomment-968823108.
But even after entering the LSID i could get the same timeout error as copying the base64 would give me

[2021-11-16 14:27] K-techie commented on #291
Sir , regarding the timeout issue , i faced the same problem. But apparently ghunt works without any error with the help of docker image.

[2021-11-16 16:11] mixtraff opened #292 "No OSID header detected, exiting"
Hi,
I get this message in terminal.
[code]
After this warning about OSID, I cannot continue to make research by email.
I get message after request `python3 ghunt.py email xxxx@google.com`
`Please generate cookies and tokens first, with the check_and_gen.py script.`
How to fix this problem?
Thanks

[2021-11-17 08:37] K-techie commented on #255
I had same timeout issue while trying through the git cloned package , but when i tried using Docker, it worked without any problem.

[2021-11-18 18:25] s-cr0w commented on #292
Same issue for me...

Generating OSID for the Cloud Console...
[-] Timeout while fetching the Internal tokens.
Please increase the timeout in config.py or try again.

[2021-11-18 18:27] mxrch commented on #292
I can't reproduce the issue for the moment, so I can't help a lot on this currently :/
Are these new accounts ?

[2021-11-18 19:38] mixtraff commented on #292
When I try to use default config I see messege:

Generating OSID for the Cloud Console...
[-] Timeout while fetching the Internal tokens.
Please increase the timeout in config.py or try again.

But If I use same headers config with my browswer:

`headers = {
    'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/92.0.4509.0 Safari/537.36',

[2021-11-23 04:52] dhiazulfa commented on #279
Update your chromedriver. Download chrome driver manualy here:  https://chromedriver.storage.googleapis.com/index.html

[2021-11-24 13:07] ManuelBot59 opened #294 "error trying to access to use repository"
Good morning everyone, I try to run ghunt.py but I get an error, that it does not recognize some files and asks me to import doc_hunt, I hope you help me, here I send you what I get when executing:

┌──(root💀kali)-[/home/kali/ghunt]
└─# python3 ghunt.py email xxxx@google.com                                                                 1 ⨯
Traceback (most recent call last):
  File "/home/kali/gh

[2021-11-26 16:43] eschultze commented on #288
+1 same here

[2021-11-26 17:53] mxrch commented on #285
Thanks for letting me know, dockerhub seems to have moved the auto-build functionnalty to pro-members, so I moved GHunt on the Github Containers Registry (ghcr.io) and auto-build with Github Actions, it should be good ! https://github.com/mxrch/GHunt/pkgs/container/ghunt

[2021-11-26 17:53] #285 closed

[2021-11-26 21:48] influenceralgorithms commented on #275
Hi @psyb1, I came across the same issue for a different repository. Turned out that I had the incorrect version of Selenium installed. I had version 3.4 installed, which actually has 'FirefoxProfile' as name for 'FirefoxOptions'. I updated my Selenium to the latest available, 4.1.0, and everything was fixed. So, this issue has to do with the version of your packages. Hopes this helps :)

[2021-11-26 21:50] mxrch commented on #288
@eschultze  Is it always the case after a git pull ?

[2021-11-26 21:51] mxrch commented on #258
It's not currently possible, Google Forms are not items that we can save on a Google Drive.

[2021-11-26 21:51] #258 closed

[2021-11-26 21:51] mxrch commented on #245
Just install the requirements.

[2021-11-26 21:51] #245 closed

[2021-11-26 22:39] mxrch commented on #235
Nope, I would be cool but a little overkill for a tool like this.

[2021-11-26 22:39] #235 closed

[2021-11-26 22:40] #222 closed

[2021-11-26 22:51] mxrch commented on #275
From now, these problems won't happen anymore since the introduction of the modwall in GHunt which will force users to update the libraries when specified in the requirements.txt !

[2021-11-26 22:51] #275 closed

[2021-11-27 03:02] #240 closed

[2021-11-29 00:32] zakzico commented on #273
There isn't any "91" folder. I got the same error, I can't seem to run Ghunt, every time I run it. I t tells me " Please generate cookies and tokens first, with the check_and_gen.py script " and when I run check_and_gen.py the above error pops up.

Did any =one encounter the same problem and found a solution. Please let us know

[2021-11-29 00:40] zakzico commented on #291
If you're using google chrome, go to Settings, Privacy and Security, Cookies and other site data, Search or Find " accounts.google.com " and click on it. BAM! LSID will be displayed. Copy the Content section and paste it in Ghunt LSID>> .

Let me know if it worked!

[2021-11-29 17:34] eschultze commented on #288
@mxrch yep, I had just done a git pull, just in case, because I had not used ghunt in a couple of months. Also, my chromedrive was at version 91, so I had to erase it and allow pip to install the newest one.

[2021-12-01 03:04] K1arkK3nt opened #295 "as"

[2021-12-01 03:17] #295 closed

[2021-12-01 03:18] K1arkK3nt commented on #295
npm install -g @medusajs/medusa-cli

[2021-12-01 20:52] slowPoke26 opened #296 "Error running check_and_gen.py script:"
Greetings,

While trying to run this with “docker run -v ghunt-resources:/usr/src/app/resources -ti ghcr.io/mxrch/ghunt check_and_gen.py”, I am having the following error:

**[Webdrivers Manager] I can't find the chromedriver, so I'm downloading and installing it for you...
Traceback (most recent call last):
  File "check_and_gen.py", line 220, in <module>
    driverpath = get_driverpath()
  File

[2021-12-01 23:06] mxrch commented on #296
Hey @slowPoke26 ! I can confirm the issue, can you check if the https://github.com/mxrch/GHunt/commit/d72177ecb278afe08138262bba1cbcb28f97ebb2 commit has fixed the issue ?
It fixed it for me, you can delete the image & container locally and download the latest version (I hardcode the sha1 digest here so you're sure to have the latest image) :
[code]

[2021-12-02 10:27] slowPoke26 commented on #296
Hey @mxrch !

Thanks for the fast response. The execution worked this time. It went trough the following steps:

**[Webdrivers Manager] I can't find the chromedriver, so I'm downloading and installing it for you...
[Webdrivers Manager] The chromedriver has been installed !**

I was able to set the cookies, e also run the “ghunt.py” to check a random e-mail. But one thing I noticed was, every time

[2021-12-02 10:29] #296 closed

[2021-12-03 17:03] eschultze commented on #288
New attempt with fresh install here. The last text was "Fetching Drive homepage" but after hitting ctrl+c it changed to "Generating OSID for the Cloud Console".

[code]

[2021-12-03 22:11] mxrch commented on #235
You're right, we should and I work on a refactor to add types definitions. It's so cool. Thanks for telling me.

[2021-12-04 16:37] kevinalfito69 commented on #291
Thanks its work

[2021-12-04 16:38] #291 closed

[2021-12-08 07:32] Biggitybaked opened #297 "Wont install past this"
Building wheel for cryptography (pyproject.toml) ... error                                                            ERROR: Command errored out with exit status 1:              command: /data/data/com.termux/files/usr/bin/python3 /data/data/com.termux/files/usr/lib/python3.10/site-packages/pip/_vendor/pep517/in_process/_in_process.py build_wheel /data/data/com.termux/files/usr/tmp/tmp3wv3o95e

[2021-12-11 01:33] zrobb1 opened #299 "Help. Cant get past this"
[+] The cookies seems valid !
Traceback (most recent call last):
  File "check_and_gen.py", line 274, in <module>
    driver = webdriver.Chrome(
  File "/home/todd/.local/lib/python3.8/site-packages/seleniumwire/webdriver.py", line 195, in __init__
    super().__init__(*args, **kwargs)
  File "/home/todd/.local/lib/python3.8/site-packages/selenium/webdriver/chrome/webdriver.py", line 70, in __init

[2021-12-13 13:01] Mushebeq opened #300 "Error while adding cookies"
[+] The cookies seems valid !
Traceback (most recent call last):
  File "/root/ghunt/check_and_gen.py", line 274, in <module>
    driver = webdriver.Chrome(
  File "/usr/local/lib/python3.9/dist-packages/seleniumwire/webdriver.py", line 195, in __init__
    super().__init__(*args, **kwargs)
  File "/usr/local/lib/python3.9/dist-packages/selenium/webdriver/chrome/webdriver.py", line 70, in __init__

[2021-12-13 14:05] Mrpolack commented on #300
same here

[2021-12-14 18:18] app188 opened #301 "hey gunter423"
Please generate cookies and tokens first, with the check_and_gen.py script.

[2021-12-14 18:19] mxrch commented on #301
?

[2021-12-14 21:01] app188 commented on #301
this is the problem how can i fix it #300  Please generate cookies and tokens first, with the check_and_gen.py script.

[2021-12-14 21:07] mxrch commented on #301
It's not the problem, it's literally the solution.
Just, do what it says.

And please, before running a project, **read the README instructions.**

[2021-12-14 21:07] #301 closed

[2021-12-14 23:25] ZekePolarisBSH opened #302 "Where can I find LSID?"
It says to enter LSID but I don't see it anywhere in my cookies.
I am using KALI App.
It was working and randomly stopped. Any ideas?

[2021-12-14 23:34] mxrch commented on #302
Are you an old user ? The cookies extractions has changed since a few months, you can check the readme to know how to do it.
Make sure your GHunt is updated by doing a `git pull`.
It's recommended to use the browser extension to sync your Google account with GHunt.

[2021-12-14 23:50] ZekePolarisBSH commented on #302
Yea at old user and I noticed that it uses the plugin now and I started using that but it keeps getting stuck. And I read the readme. It could be my browser since my ISP is saying my browser has issues. Well many websites says the same thing but using different words.... First it was saying, "Starting browser..." for hours. And now it is saying "Setting cookies..." Should I keep trying?

[2021-12-14 23:52] ZekePolarisBSH commented on #302
New issue with requirements. It says type py, but I have to type python3.

[2021-12-14 23:53] ZekePolarisBSH commented on #302
Oh no it says missing something. goepy? Wait wut?

[2021-12-14 23:54] mxrch commented on #302
It says python3 for Unix and py for Windows.
Don't you said you're on Kali Linux ?

[2021-12-14 23:55] mxrch commented on #302
Do you want to say geopy ?

[2021-12-15 00:01] ZekePolarisBSH commented on #302
Yea KALI Linux the app for Windows 10.

[2021-12-15 00:03] ZekePolarisBSH commented on #302
Yea it says that is missing and to use requirements "--update" and I did but it keeps saying to use the command again when I try to run verify gen. It has to have something to dobwith my device or internet because everything did started to mess up after my ISP said something. Idk though.....

[2021-12-15 00:04] mxrch commented on #302
The Kali Linux app works on the Windows Subsystem Linux (WSL), so please considering you're on a Unix environment when reading instructions.

[2021-12-15 00:05] ZekePolarisBSH commented on #302
Oh ok so use the unix method and not the Windows method. Wait there is a Windows Kali? I thought the one I been using was Windows Kali this whole time. Thanks Microsoft for misinforming users!!!

[2021-12-15 00:06] mxrch commented on #302
Are you sure your libs upgrade does not fail ? Please provide output of your upgrade

[2021-12-15 00:07] ZekePolarisBSH commented on #302
I will once I get back to my laptop. Busy at the moment. Also thanks for replying not many devs reply to me much. I just get bots. LOL

[2021-12-15 10:09] ZekePolarisBSH commented on #302
I just realized that I didn't run it, anything, as root. Oops......................... Everything good now LOL sorry that I bothered you.

[2021-12-16 10:40] ZekePolarisBSH commented on #302
Hey um, after using this tool the first time, all the sudden I get an email in my gmail the same day, threatening me for bitcoin.

[2021-12-16 10:44] mxrch commented on #302
1) You're off-topic
2) The tool is open-source. Read the code and you'll see that your email is not used on any third-party site than Google.

[2021-12-16 10:47] ZekePolarisBSH commented on #302
I was just saying, the odds of this happening are very slim and I never said anything about the tool having my email in it. It happened right after getting the tool to go.

[2021-12-16 10:48] ZekePolarisBSH commented on #302
Also most cases open source is not a good thing. Also the code in a tool is not always a threat as even requirements can be used as a threat. I saw it happen before.

[2021-12-16 10:49] #302 closed

[2021-12-16 10:53] ZekePolarisBSH opened #303 "That counts as being fake."
Closing a real issue is showing us that you are fake and using ghunt to hack users. Thanks for your number that you added to my account. You got exposed. Not using your tools ever again! And reported you for breaking the rules of GitHub.

[2021-12-16 11:05] ZekePolarisBSH commented on #300
Uninstall this, this tool can't be trusted the user hacks us using this tool and threatens to leak our data. I already reported this to IC3 and the FBI.

[2021-12-16 11:05] ZekePolarisBSH commented on #300
And to this site.

[2021-12-16 23:17] mxrch commented on #303
Go get treatment.

[2021-12-16 23:17] #303 closed

[2021-12-17 12:16] Sonpr0x opened #304 "check_and_gen.py: list index out of range"
Python 3.10.1

Traceback (most recent call last):
  File "G:\osint\GHunt-master\check_and_gen.py", line 294, in <module>
    internal_auth, internal_token = get_internal_tokens(driver, cookies_with_osid, tmprinter)
  File "G:\osint\GHunt-master\check_and_gen.py", line 129, in get_internal_tokens
    internal_token = body.split("appsitemsuggest-pa")[1].split(",")[3].strip('"')
IndexError: list inde

[2021-12-17 12:19] mxrch commented on #304
Can you check if you have the string "appsitemsuggest-pa" in the req.text of drive.google.com ?

[2021-12-18 13:58] Sonpr0x commented on #304
I couldn't find "req.text" or "appsitemsuggest-pa" in the cookie or path of drive.google.com, can u give me a hint?

[2021-12-19 12:29] RosyHorus opened #305 "SyntaxError: invalid syntax"
[code]

**Screenshots**
![image](https://user-images.githubusercontent.com/71973467/146674862-09cd03ca-78d2-4c09-93ac-83118644f38b.png)

 - Google Cloud (windows 10)
 - Python 3.7.3

[2021-12-19 12:46] RosyHorus commented on #289
I'm not an expert or anything.. I just did those commands and then ran  `python3 -m pip install -r requirements.tx` again to test if all requirements been satisfied.. any ways, I found that it's common problem when trying to install "cryptography".. it requires "rust" so anyways.. the following commands would solve the problem by installing rust, and scipy then run the requirements.txt to test if

[2021-12-19 12:52] mxrch commented on #305
It uses the walrus operator, so it requires Python 3.8+ :)

[2021-12-19 12:54] RosyHorus commented on #305
Yeah I just saw that on Readme.. I thought at first it only requires python 3.7 :D
thx!

[2021-12-19 12:54] #305 closed

[2021-12-23 00:13] dillythecoder commented on #289
Ok gotcha thanks!

[2021-12-23 00:14] #289 closed

[2021-12-30 03:33] Staywok opened #306 "Python3IDE"

[2022-01-03 15:00] aruso commented on #255
I'm getting the same issue with and without docker

[2022-01-03 15:01] aruso commented on #288
I'm getting the same issue with and without docker .... anybody have a fix?

[2022-01-12 19:33] jevarlet opened #307 "check_and_gen.py - ChromeDriver only supports Chrome version 95"
I receive this error when generating cookies using check_and_gen.py:

[code]

[2022-01-19 05:14] gokulapap commented on #205
I am not able to find LSID !

[2022-01-19 06:09] HenkPoley commented on #205
Have you tried what they do right above your comment?

E.g.: https://github.com/mxrch/GHunt/issues/291#issuecomment-981195632

[2022-01-20 07:20] gokulapap commented on #205
Thanks @HenkPoley the browser extension worked !

[2022-01-20 17:56] Wendelstein7 commented on #283
I can confirm I am getting this exact error with the most recent docker container. I am not sure why the issue is closed.

I pulled the docker container and then ran the check_and_gen.py script using the commands given in the readme.md.
I pasted all the cookies except for LSID, which wasn't present.
It then reports that cookies were valid and it fails at generating cloud console OSID.

[code]

[2022-01-22 07:51] HellGateCorp commented on #283
I'm not sure what happened behind the scenes there, but I can tell you how I solved this problem. First, we need a recent Chrome or Brave browser instance that is not corrupted. From there we can now download the "GHunt Companion" hosted extension from the official Chrome webstore. This tool can extract the whole stack of needed attributes from the auto-detected cookie and turn it into a Base64 en

[2022-01-29 07:40] sridhar-gif opened #308 "not running Ghunt .. cookies and token ......pls help kindly..."
┌──(kali㉿kali)-[~/GHunt]
└─$ ./check_and_gen.py
[-] No stored cookies found

You can facilitate configuring GHunt by using the GHunt Companion extension on Firefox, Chrome, Edge and Opera here :
=> https://github.com/mxrch/ghunt_companion

[1] (Companion) Put GHunt on listening mode (currently not compatible with docker)
[2] (Companion) Paste base64-encoded cookies
[3] Enter manually all cookies